.popup.password-changed {
  .popup-main-head {
    margin-bottom: 114px;
  }
  .popup-middle-head {
    max-width: 370px;
    margin: 0 auto 62px;
  }
  .mark-success {
    margin-bottom: 68px;
  }
  .authorization-btn {
    margin: 0 auto;
    @extend %large-orange-btn;
  }
}