.popup.password-recovery {
  .popup-main-head {
    margin-bottom: 77px;
  }
  .popup-middle-head {
    max-width: 100%;
    line-height: 1.2;
    .link {
      font-size: 14px;
    }
    margin: 0 auto 36px;
  }
  .letter {
    &:before {
      @include size($letter-arrow-w,$letter-arrow-h);
      right: -25px;
      bottom: 3px;
      background: url(../images/popup/popup-arrow.png) no-repeat 0 0;
    }
    margin-bottom: 44px;
  }
  .ok-btn {
    margin-bottom: 37px;
  }
}