.popup.status {
  .popup-main-head {
    margin-bottom: 111px;
  }
  .popup-head {
    margin-bottom: 24px;
  }
  .popup-middle-head {
    margin-bottom: 34px;
  }
  .status-line {
    margin: 0 auto 48px;
  }
}