<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Eror 404 - page not found</title>
    <link href="../assets/stylesheets/normalize.css" media="screen" rel="stylesheet" type="text/css">
    <link href="../assets/stylesheets/main.css" media="screen" rel="stylesheet" type="text/css">
    <link href="../assets/stylesheets/jquery.bxslider.css" media="screen" rel="stylesheet" type="text/css">
    <link href="../assets/stylesheets/firefox.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/stylesheets/ie10.css" rel="stylesheet" type="text/css"/>
    <!--[if lte IE 9]>
    <link href="../assets/stylesheets/ie9.css" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <!--[if lte IE 8]>
    <link href="../assets/stylesheets/ie8.css" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <link href="http://fonts.googleapis.com/css?family=Jura:400,500,600,300&subset=latin,cyrillic-ext,latin-ext,cyrillic"
          rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Russo+One&amp;subset=latin,cyrillic,latin-ext" rel="stylesheet"
          type="text/css">
    <link href="../assets/stylesheets/owl.carousel.css" media="screen" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Russo+One&amp;subset=latin,cyrillic,latin-ext" rel="stylesheet"
          type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!--[if lte IE 8]>
    <script src="../assets/javascripts/respond.min.js"></script>
    <![endif]-->
    <script src="../assets/javascripts/html5shiv.min.js"></script>
    <script src="../assets/javascripts/html5shiv-printshiv.min.js"></script>
    <!--[if lte IE 8]>
    <script src="../assets/javascripts/selectivizr-min.js"></script>
    <![endif]-->
</head>
<body class="error-page">
<div class="bg"></div>
<header>
    <div class="error-content-wrapper">
        <div class="logo"><a href="#"></a></div>
    </div>
</header>
<div class="section-content-container error-404">
    <section class="content">
        <div class="error-left">
            <div class="error-404-logo"></div>
        </div><!--
        --><div class="middle-content">
            <div class="error-content-wrapper">
                <div class="content-header">Error 404 page not found</div>
                <div class="content-middle-header">We invite you to play games with high-impact</div>
                <ul class="slider-game-list">
                    <li class="slide">
                     <ul class="game-list">
                    <li class="game-item">
                        <div class="hover-block">
                            <div class="btn-block">
                                <a href="#" class="play-btn">Play now</a>
                                <a href="#" class="practice-btn">Practice</a>
                            </div>
                            <div class="hover-line"></div>
                        </div>
                        <img class="game-img" src="../assets/images/games/dracula.jpg" alt="game">
                        <div class="game-frame">
                            <div class="game-name">Dracula</div>
                            <ul class="rating">
                                <li><span class="active"></span>
                                <li><span class="active"></span>
                                <li><span class="active"></span>
                                <li>
                                <li>
                            </ul>
                        </div>
                    <li class="game-item">
                        <div class="hover-block">
                            <div class="btn-block play-btn-only">
                                <a href="#" class="play-btn">Play now</a>
                            </div>
                            <div class="hover-line"></div>
                        </div>
                        <img class="game-img" src="../assets/images/games/invisible-man.jpg" alt="game">
                        <div class="game-frame">
                            <div class="game-name">The invisible man</div>
                            <ul class="rating">
                                <li><span class="active"></span>
                                <li><span class="active"></span>
                                <li><span class="active"></span>
                                <li>
                                <li>
                            </ul>
                        </div>
                         </ul>
                    <li class="slide">
                        <ul class="game-list">
                            <li class="game-item">
                                <div class="hover-block">
                                    <div class="btn-block">
                                        <a href="#" class="play-btn">Play now</a>
                                        <a href="#" class="practice-btn">Practice</a>
                                    </div>
                                    <div class="hover-line"></div>
                                </div>
                                <img class="game-img" src="../assets/images/games/dracula.jpg" alt="game">
                                <div class="game-frame">
                                    <div class="game-name">Dracula</div>
                                    <ul class="rating">
                                        <li><span class="active"></span>
                                        <li><span class="active"></span>
                                        <li><span class="active"></span>
                                        <li>
                                        <li>
                                    </ul>
                                </div>
                            <li class="game-item">
                                <div class="hover-block">
                                    <div class="btn-block play-btn-only">
                                        <a href="#" class="play-btn">Play now</a>
                                    </div>
                                    <div class="hover-line"></div>
                                </div>
                                <img class="game-img" src="../assets/images/games/invisible-man.jpg" alt="game">
                                <div class="game-frame">
                                    <div class="game-name">The invisible man</div>
                                    <ul class="rating">
                                        <li><span class="active"></span>
                                        <li><span class="active"></span>
                                        <li><span class="active"></span>
                                        <li>
                                        <li>
                                    </ul>
                                </div>
                        </ul>
                    <li class="slide">
                        <ul class="game-list">
                            <li class="game-item">
                                <div class="hover-block">
                                    <div class="btn-block">
                                        <a href="#" class="play-btn">Play now</a>
                                        <a href="#" class="practice-btn">Practice</a>
                                    </div>
                                    <div class="hover-line"></div>
                                </div>
                                <img class="game-img" src="../assets/images/games/dracula.jpg" alt="game">
                                <div class="game-frame">
                                    <div class="game-name">Dracula</div>
                                    <ul class="rating">
                                        <li><span class="active"></span>
                                        <li><span class="active"></span>
                                        <li><span class="active"></span>
                                        <li>
                                        <li>
                                    </ul>
                                </div>
                            <li class="game-item">
                                <div class="hover-block">
                                    <div class="btn-block play-btn-only">
                                        <a href="#" class="play-btn">Play now</a>
                                    </div>
                                    <div class="hover-line"></div>
                                </div>
                                <img class="game-img" src="../assets/images/games/invisible-man.jpg" alt="game">
                                <div class="game-frame">
                                    <div class="game-name">The invisible man</div>
                                    <ul class="rating">
                                        <li><span class="active"></span>
                                        <li><span class="active"></span>
                                        <li><span class="active"></span>
                                        <li>
                                        <li>
                                    </ul>
                                </div>
                        </ul>
                    <li class="slide">
                        <ul class="game-list">
                            <li class="game-item">
                                <div class="hover-block">
                                    <div class="btn-block">
                                        <a href="#" class="play-btn">Play now</a>
                                        <a href="#" class="practice-btn">Practice</a>
                                    </div>
                                    <div class="hover-line"></div>
                                </div>
                                <img class="game-img" src="../assets/images/games/dracula.jpg" alt="game">
                                <div class="game-frame">
                                    <div class="game-name">Dracula</div>
                                    <ul class="rating">
                                        <li><span class="active"></span>
                                        <li><span class="active"></span>
                                        <li><span class="active"></span>
                                        <li>
                                        <li>
                                    </ul>
                                </div>
                            <li class="game-item">
                                <div class="hover-block">
                                    <div class="btn-block play-btn-only">
                                        <a href="#" class="play-btn">Play now</a>
                                    </div>
                                    <div class="hover-line"></div>
                                </div>
                                <img class="game-img" src="../assets/images/games/invisible-man.jpg" alt="game">
                                <div class="game-frame">
                                    <div class="game-name">The invisible man</div>
                                    <ul class="rating">
                                        <li><span class="active"></span>
                                        <li><span class="active"></span>
                                        <li><span class="active"></span>
                                        <li>
                                        <li>
                                    </ul>
                                </div>
                        </ul>
                    <li class="slide">
                        <ul class="game-list">
                            <li class="game-item">
                                <div class="hover-block">
                                    <div class="btn-block">
                                        <a href="#" class="play-btn">Play now</a>
                                        <a href="#" class="practice-btn">Practice</a>
                                    </div>
                                    <div class="hover-line"></div>
                                </div>
                                <img class="game-img" src="../assets/images/games/dracula.jpg" alt="game">
                                <div class="game-frame">
                                    <div class="game-name">Dracula</div>
                                    <ul class="rating">
                                        <li><span class="active"></span>
                                        <li><span class="active"></span>
                                        <li><span class="active"></span>
                                        <li>
                                        <li>
                                    </ul>
                                </div>
                            <li class="game-item">
                                <div class="hover-block">
                                    <div class="btn-block play-btn-only">
                                        <a href="#" class="play-btn">Play now</a>
                                    </div>
                                    <div class="hover-line"></div>
                                </div>
                                <img class="game-img" src="../assets/images/games/invisible-man.jpg" alt="game">
                                <div class="game-frame">
                                    <div class="game-name">The invisible man</div>
                                    <ul class="rating">
                                        <li><span class="active"></span>
                                        <li><span class="active"></span>
                                        <li><span class="active"></span>
                                        <li>
                                        <li>
                                    </ul>
                                </div>
                        </ul>
                    <li class="slide">
                        <ul class="game-list">
                            <li class="game-item">
                                <div class="hover-block">
                                    <div class="btn-block">
                                        <a href="#" class="play-btn">Play now</a>
                                        <a href="#" class="practice-btn">Practice</a>
                                    </div>
                                    <div class="hover-line"></div>
                                </div>
                                <img class="game-img" src="../assets/images/games/dracula.jpg" alt="game">
                                <div class="game-frame">
                                    <div class="game-name">Dracula</div>
                                    <ul class="rating">
                                        <li><span class="active"></span>
                                        <li><span class="active"></span>
                                        <li><span class="active"></span>
                                        <li>
                                        <li>
                                    </ul>
                                </div>
                            <li class="game-item">
                                <div class="hover-block">
                                    <div class="btn-block play-btn-only">
                                        <a href="#" class="play-btn">Play now</a>
                                    </div>
                                    <div class="hover-line"></div>
                                </div>
                                <img class="game-img" src="../assets/images/games/invisible-man.jpg" alt="game">
                                <div class="game-frame">
                                    <div class="game-name">The invisible man</div>
                                    <ul class="rating">
                                        <li><span class="active"></span>
                                        <li><span class="active"></span>
                                        <li><span class="active"></span>
                                        <li>
                                        <li>
                                    </ul>
                                </div>
                        </ul>
                    <li class="slide">
                        <ul class="game-list">
                            <li class="game-item">
                                <div class="hover-block">
                                    <div class="btn-block">
                                        <a href="#" class="play-btn">Play now</a>
                                        <a href="#" class="practice-btn">Practice</a>
                                    </div>
                                    <div class="hover-line"></div>
                                </div>
                                <img class="game-img" src="../assets/images/games/dracula.jpg" alt="game">
                                <div class="game-frame">
                                    <div class="game-name">Dracula</div>
                                    <ul class="rating">
                                        <li><span class="active"></span>
                                        <li><span class="active"></span>
                                        <li><span class="active"></span>
                                        <li>
                                        <li>
                                    </ul>
                                </div>
                            <li class="game-item">
                                <div class="hover-block">
                                    <div class="btn-block play-btn-only">
                                        <a href="#" class="play-btn">Play now</a>
                                    </div>
                                    <div class="hover-line"></div>
                                </div>
                                <img class="game-img" src="../assets/images/games/invisible-man.jpg" alt="game">
                                <div class="game-frame">
                                    <div class="game-name">The invisible man</div>
                                    <ul class="rating">
                                        <li><span class="active"></span>
                                        <li><span class="active"></span>
                                        <li><span class="active"></span>
                                        <li>
                                        <li>
                                    </ul>
                                </div>
                        </ul>
                    <li class="slide">
                        <ul class="game-list">
                            <li class="game-item">
                                <div class="hover-block">
                                    <div class="btn-block">
                                        <a href="#" class="play-btn">Play now</a>
                                        <a href="#" class="practice-btn">Practice</a>
                                    </div>
                                    <div class="hover-line"></div>
                                </div>
                                <img class="game-img" src="../assets/images/games/dracula.jpg" alt="game">
                                <div class="game-frame">
                                    <div class="game-name">Dracula</div>
                                    <ul class="rating">
                                        <li><span class="active"></span>
                                        <li><span class="active"></span>
                                        <li><span class="active"></span>
                                        <li>
                                        <li>
                                    </ul>
                                </div>
                            <li class="game-item">
                                <div class="hover-block">
                                    <div class="btn-block play-btn-only">
                                        <a href="#" class="play-btn">Play now</a>
                                    </div>
                                    <div class="hover-line"></div>
                                </div>
                                <img class="game-img" src="../assets/images/games/invisible-man.jpg" alt="game">
                                <div class="game-frame">
                                    <div class="game-name">The invisible man</div>
                                    <ul class="rating">
                                        <li><span class="active"></span>
                                        <li><span class="active"></span>
                                        <li><span class="active"></span>
                                        <li>
                                        <li>
                                    </ul>
                                </div>
                        </ul>
                    <li class="slide">
                        <ul class="game-list">
                            <li class="game-item">
                                <div class="hover-block">
                                    <div class="btn-block">
                                        <a href="#" class="play-btn">Play now</a>
                                        <a href="#" class="practice-btn">Practice</a>
                                    </div>
                                    <div class="hover-line"></div>
                                </div>
                                <img class="game-img" src="../assets/images/games/dracula.jpg" alt="game">
                                <div class="game-frame">
                                    <div class="game-name">Dracula</div>
                                    <ul class="rating">
                                        <li><span class="active"></span>
                                        <li><span class="active"></span>
                                        <li><span class="active"></span>
                                        <li>
                                        <li>
                                    </ul>
                                </div>
                            <li class="game-item">
                                <div class="hover-block">
                                    <div class="btn-block play-btn-only">
                                        <a href="#" class="play-btn">Play now</a>
                                    </div>
                                    <div class="hover-line"></div>
                                </div>
                                <img class="game-img" src="../assets/images/games/invisible-man.jpg" alt="game">
                                <div class="game-frame">
                                    <div class="game-name">The invisible man</div>
                                    <ul class="rating">
                                        <li><span class="active"></span>
                                        <li><span class="active"></span>
                                        <li><span class="active"></span>
                                        <li>
                                        <li>
                                    </ul>
                                </div>
                        </ul>
                </ul>
                <div class="to-main-btn-container">
                    <a class="to-main-btn" href="#">Main</a>
                </div>
            </div>
        </div><!--
        --><div class="error-right">
            <div class="error-404-logo"></div>
        </div>
    </section>
</div>
<script src="../assets/javascripts/background_size_emu.js"></script>
<script src="../assets/javascripts/jquery.bxslider.min.js"></script>
<script src="../assets/javascripts/main.js"></script>
<!--[if lte IE 8]>
<script src="../assets/javascripts/ie8.js"></script>
<!--<![endif]-->
</body>
</html>