<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Game mode - demo</title>
    <link href="../assets/stylesheets/normalize.css" media="screen" rel="stylesheet" type="text/css">
    <link href="../assets/stylesheets/main.css" media="screen" rel="stylesheet" type="text/css">
    <link href="../assets/stylesheets/firefox.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/stylesheets/ie10.css" rel="stylesheet" type="text/css"/>
    <!--[if lte IE 9]>
    <link href="../assets/stylesheets/ie9.css" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <!--[if lte IE 8]>
    <link href="../assets/stylesheets/ie8.css" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <link href="http://fonts.googleapis.com/css?family=Jura:400,500,600,300&subset=latin,cyrillic-ext,latin-ext,cyrillic"
          rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Russo+One&amp;subset=latin,cyrillic,latin-ext" rel="stylesheet"
          type="text/css">
    <link href="../assets/stylesheets/owl.carousel.css" media="screen" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Russo+One&amp;subset=latin,cyrillic,latin-ext" rel="stylesheet"
          type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!--[if lte IE 8]>
    <script src="../assets/javascripts/css3-mediaqueries.min.js"></script>
    <![endif]-->
    <script src="../assets/javascripts/html5shiv.min.js"></script>
    <script src="../assets/javascripts/html5shiv-printshiv.min.js"></script>
    <!--[if lte IE 8]>
    <script src="../assets/javascripts/selectivizr-min.js"></script>
    <![endif]-->
</head>
<body class="game-mode">
<div class="bottom-elements"></div>
<div class="top-elements"></div>
<section class="game-container demo clearfix">
    <div class="left-column">
        <div class="top-left-corner"></div>
        <div class="bottom-left-corner"></div>
        <div class="logo"><a href="#"></a></div>
        <div class="column-wrapper">
            <a class="cashier-btn" href="#">Cashier</a>
            <a class="real-money-btn" href="#">Real money</a>
            <div class="user-info">
                <a href="#" class="status-box beginner">
                    <div class="user-status">Beginner</div>
                    <ul class="progress-bar">
                        <li class="active"><span></span>
                        <li>
                        <li>
                    </ul>
                </a>
                <a href="#" class="balance-drifts">
                    <div class="balance-head">Drifts</div><div class="balance-value">50</div>
                </a>
                <a href="#" class="cashback">
                    <div class="cashback-head">Cashback</div><div class="cashback-value">Eur 1.000</div>
                </a>
            </div>
            <div class="select-greeting-bonus free-spins">
                <div class="bonus-image"></div>
                <div class="get-now-btn-container">
                    <a class="get-now-btn" href="#">Get now</a>
                </div>
            </div>
            <div class="btn-block">
                <a class="games-btn" href="#">Other games</a>
                <a class="exit-btn" href="#">Exit</a>
            </div>

            <a class="gift-btn" href="#">Gift</a>
        </div>
    </div>
    <div class="center-column">
        <iframe>

        </iframe>
    </div>
    <div class="right-column">
        <div class="top-right-corner"></div>
        <div class="bottom-right-corner"></div>
        <div class="column-wrapper">
            <div class="btn-block">
                <a class="refresh-btn" href="#"><span>Refresh game</span></a>
                <a class="help-btn" href="#"><span>Help online</span></a>
            </div>
            <section class="aside-block tournaments">
                <div class="header clearfix">
                    <div class="best-tourney">Best street dreeft<br>
                        <span>tournaments</span></div>
                </div>
                <a href="#"><img class="banner-img" src="../assets/images/tournament-banner.jpg" alt="game"></a>
                <div class="counter-section">
                    <div class="counter clearfix">
                        <div class="count days"><span class="data-days">17</span>
                            <div class="time-description">days</div>
                        </div>
                        <div class="count hours"><span class="data-hours">13</span>
                            <div class="time-description">hours</div>
                        </div>
                        <div class="count min"><span class="data-min">25</span>
                            <div class="time-description">min</div>
                        </div>
                        <div class="count sec"><span class="data-sec">50</span>
                            <div class="time-description">sec</div>
                        </div>
                    </div>
                    <div class="small-jackpot">
                        <div class="counter-wrapper clearfix">
                            <div class="currency rub"></div><!--
                                --><div data-current-value="1832183365" data-difference="27" id="little-jackpot-counter"></div>
                        </div>
                        <div class="jackpot-decription">Progressive prize fund</div>
                    </div>
                </div>
            </section>
            <ul class="leaders-table-name">
                <li class="clearfix">
                    <div class="name">Name</div>
                    <div class="score">Score</div>
                </li>
            </ul>
            <div class="leaders">
                <ul class="leaders-table">
                       <li class="clearfix">
                           <div class="bg"></div>
                           <div class="name"><span class="rank">1</span>. raiseonce</div>
                           <div class="score">35 354</div>
                       </li>
                    <li class="clearfix">
                        <div class="bg"></div>
                        <div class="name"><span class="rank">2</span>. senna1993</div>
                        <div class="score">30 000</div>
                    </li>
                    <li class="clearfix">
                        <div class="bg"></div>
                        <div class="name"><span class="rank">3</span>. nemosea18</div>
                        <div class="score">25 000</div>
                    </li>
                        <li class="clearfix">
                            <div class="bg"></div>
                             <div class="name"><span class="rank">4</span>. skv_055</div>
                             <div class="score">23 354</div>
                        </li>
                        <li class="clearfix">
                            <div class="bg"></div>
                             <div class="name"><span class="rank">5</span>. sakis68</div>
                             <div class="score">20 010</div>
                        </li>
                    <li class="clearfix">
                        <div class="bg"></div>
                        <div class="name"><span class="rank">6</span>. sakis68</div>
                        <div class="score">15 000</div>
                    </li>
                    <li class="clearfix">
                        <div class="bg"></div>
                        <div class="name"><span class="rank">7</span>. raiseonce</div>
                        <div class="score">12 354</div>
                    </li>
                    <li class="clearfix">
                        <div class="bg"></div>
                        <div class="name"><span class="rank">8</span>. senna1993</div>
                        <div class="score">5 000</div>
                    </li>
                    <li class="clearfix">
                        <div class="bg"></div>
                        <div class="name"><span class="rank">9</span>. senna1993</div>
                        <div class="score">3 100</div>
                    </li>
                    <li class="clearfix">
                        <div class="bg"></div>
                        <div class="name"><span class="rank">10</span>. skv_055</div>
                        <div class="score">1 354</div>
                    </li>
                        <li class="clearfix current-user">
                            <div class="bg"></div>
                              <div class="name"><span class="rank">11</span>. You</div>
                              <div class="score">0</div>
                        </li>
                </ul>
                <div class="qualify-rounds">
                    <div class="text">Rounds to qualify</div><div class="count">1</div>
                </div>
        </div>
        <a class="exit-btn" href="#">Exit</a>
        </div>
    </div>
</section>
<script src="../assets/javascripts/background_size_emu.js"></script>
<script src="../assets/javascripts/jquery.placeholder.min.js"></script>
<script src="../assets/javascripts/jquery.carouFredSel-6.2.1-packed.js"></script>
<script src="../assets/javascripts/owl.carousel.min.js"></script>
<script src="../assets/javascripts/main.js"></script>
<!--[if lte IE 8]>
<script src="../assets/javascripts/ie8.js"></script>
<!--<![endif]-->
<script src="../assets/javascripts/jquery.flip-counter.js"></script>
<script src="../assets/javascripts/jquery.lwt-countdown-1.0.js"></script>
<script src="../assets/javascripts/hashtable.js"></script>
<script src="../assets/javascripts/jquery.numberformatter-1.2.4.js"></script>
<script src="../assets/javascripts/jackpot-main.js"></script>
</body>
</html>