<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Game mode</title>
    <link href="../assets/stylesheets/normalize.css" media="screen" rel="stylesheet" type="text/css">
    <link href="../assets/stylesheets/main.css" media="screen" rel="stylesheet" type="text/css">
    <link href="../assets/stylesheets/firefox.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/stylesheets/ie10.css" rel="stylesheet" type="text/css"/>
    <!--[if lte IE 9]>
    <link href="../assets/stylesheets/ie9.css" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <!--[if lte IE 8]>
    <link href="../assets/stylesheets/ie8.css" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <link href="http://fonts.googleapis.com/css?family=Jura:400,500,600,300&subset=latin,cyrillic-ext,latin-ext,cyrillic"
          rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Russo+One&amp;subset=latin,cyrillic,latin-ext" rel="stylesheet"
          type="text/css">
    <link href="../assets/stylesheets/owl.carousel.css" media="screen" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Russo+One&amp;subset=latin,cyrillic,latin-ext" rel="stylesheet"
          type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!--[if lte IE 8]>
    <script src="../assets/javascripts/css3-mediaqueries.min.js"></script>
    <![endif]-->
    <script src="../assets/javascripts/html5shiv.min.js"></script>
    <script src="../assets/javascripts/html5shiv-printshiv.min.js"></script>
    <!--[if lte IE 8]>
    <script src="../assets/javascripts/selectivizr-min.js"></script>
    <![endif]-->
</head>
<body class="game-mode">
<div class="bottom-elements"></div>
<div class="top-elements"></div>
<section class="game-container clearfix">
    <div class="left-column">
        <div class="top-left-corner"></div>
        <div class="bottom-left-corner"></div>
        <div class="logo"><a href="#"></a></div>
        <div class="column-wrapper">
            <a class="cashier-btn" href="#">Cashier</a>
            <div class="user-info">
                <a href="#" class="status-box beginner">
                    <div class="user-status">Beginner</div>
                    <ul class="progress-bar">
                        <li class="active"><span></span>
                        <li>
                        <li>
                    </ul>
                </a>
                <a href="#" class="balance-drifts">
                    <div class="balance-head">Drifts</div><div class="balance-value">50</div>
                </a>
                <a href="#" class="cashback">
                    <div class="cashback-head">Cashback</div><div class="cashback-value">Eur 1.000</div>
                </a>
            </div>
            <div class="btn-block">
                <a class="games-btn" href="#">Other games</a>
                <a class="exit-btn" href="#">Exit</a>
            </div>
                <div class="game-of-month">
                        <div class="big-grad"></div>
                        <div class="small-grad"></div>
                            <div class="game-info">
                                Game <span>of the</span><br>
                                month
                            </div>
                            <a href="#"><img class="game-img" src="../assets/images/games/eggomatic.jpg" alt="game"></a>
                </div>
            <a class="gift-btn" href="#">Gift</a>
        </div>
    </div>
    <div class="center-column">
        <iframe>

        </iframe>
    </div>
    <div class="right-column">
        <div class="top-right-corner"></div>
        <div class="bottom-right-corner"></div>
        <div class="column-wrapper">
            <div class="btn-block">
                <a class="refresh-btn" href="#"><span>Refresh game</span></a>
                <a class="help-btn" href="#"><span>Help online</span></a>
            </div>
        </div>
        <ul class="game-list">
            <li class="game-item">
                <div class="hover-block">
                    <div class="btn-block play-btn-only">
                        <a href="#" class="play-btn">Play now</a>
                    </div>
                    <div class="hover-frame"></div>
                </div>
                <img class="game-img" src="../assets/images/games/dracula.jpg" alt="game">
                <div class="game-frame">
                    <div class="game-name">Dracula</div>
                    <ul class="rating">
                        <li><span class="active"></span>
                        <li><span class="active"></span>
                        <li><span class="active"></span>
                        <li>
                        <li>
                    </ul>
                </div>
            <li class="game-item">
                <div class="hover-block">
                    <div class="btn-block play-btn-only">
                        <a href="#" class="play-btn">Play now</a>
                    </div>
                    <div class="hover-frame"></div>
                </div>
                <img class="game-img" src="../assets/images/games/invisible-man.jpg" alt="game">
                <div class="game-frame">
                    <div class="game-name">The invisible man</div>
                    <ul class="rating">
                        <li><span class="active"></span>
                        <li><span class="active"></span>
                        <li><span class="active"></span>
                        <li>
                        <li>
                    </ul>
                </div>
            <li class="game-item">
                <div class="hover-block">
                    <div class="btn-block play-btn-only">
                        <a href="#" class="play-btn">Play now</a>
                    </div>
                    <div class="hover-frame"></div>
                </div>
                <img class="game-img" src="../assets/images/games/aliens.jpg" alt="game">
                <div class="game-frame">
                    <div class="game-name">Aliens</div>
                    <ul class="rating">
                        <li><span class="active"></span>
                        <li><span class="active"></span>
                        <li><span class="active"></span>
                        <li><span class="active"></span>
                        <li>
                    </ul>
                </div>
            <li class="game-item">
                <div class="hover-block">
                    <div class="btn-block play-btn-only">
                        <a href="#" class="play-btn">Play now</a>
                    </div>
                    <div class="hover-frame"></div>
                </div>
                <img class="game-img" src="../assets/images/games/twin-spin.jpg" alt="game">
                <div class="game-frame">
                    <div class="game-name">Twin spin</div>
                    <ul class="rating">
                        <li><span class="active"></span>
                        <li><span class="active"></span>
                        <li>
                        <li>
                        <li>
                    </ul>
                </div>
        </ul>
        <a class="exit-btn" href="#">Exit</a>
    </div>
</section>
<script src="../assets/javascripts/background_size_emu.js"></script>
<script src="../assets/javascripts/jquery.placeholder.min.js"></script>
<script src="../assets/javascripts/jquery.carouFredSel-6.2.1-packed.js"></script>
<script src="../assets/javascripts/owl.carousel.min.js"></script>
<script src="../assets/javascripts/main.js"></script>
<!--[if lte IE 8]>
<script src="../assets/javascripts/ie8.js"></script>
<!--<![endif]-->
</body>
</html>