<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Game mode - demo - not auth</title>
    <link href="../assets/stylesheets/normalize.css" media="screen" rel="stylesheet" type="text/css">
    <link href="../assets/stylesheets/main.css" media="screen" rel="stylesheet" type="text/css">
    <link href="../assets/stylesheets/firefox.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/stylesheets/ie10.css" rel="stylesheet" type="text/css"/>
    <!--[if lte IE 9]>
    <link href="../assets/stylesheets/ie9.css" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <!--[if lte IE 8]>
    <link href="../assets/stylesheets/ie8.css" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <link href="http://fonts.googleapis.com/css?family=Jura:400,500,600,300&subset=latin,cyrillic-ext,latin-ext,cyrillic"
          rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Russo+One&amp;subset=latin,cyrillic,latin-ext" rel="stylesheet"
          type="text/css">
    <link href="../assets/stylesheets/owl.carousel.css" media="screen" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Russo+One&amp;subset=latin,cyrillic,latin-ext" rel="stylesheet"
          type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!--[if lte IE 8]>
    <script src="../assets/javascripts/css3-mediaqueries.min.js"></script>
    <![endif]-->
    <script src="../assets/javascripts/html5shiv.min.js"></script>
    <script src="../assets/javascripts/html5shiv-printshiv.min.js"></script>
    <!--[if lte IE 8]>
    <script src="../assets/javascripts/selectivizr-min.js"></script>
    <![endif]-->
</head>
<body class="game-mode">
<div class="bottom-elements"></div>
<div class="top-elements"></div>
<section class="game-container demo not-auth clearfix">
    <div class="left-column">
        <div class="top-left-corner"></div>
        <div class="bottom-left-corner"></div>
        <div class="logo"><a href="#"></a></div>
        <div class="column-wrapper">
            <div class="input-block">
                <div class="input-container">
                    <input class="form-field" id="e-mail" type="text" name="e-mail" placeholder="Enter your e-mail">
                </div>
                <div class="input-container">
                    <input class="form-field" id="password" type="text" name="password"
                           placeholder="Enter your password">
                </div>
            </div>
            <div class="accept-conditions-block">
                    <input type="checkbox" id="accept" value="accept-rules">
                    <label class="accept-label" for="accept"><span></span></label>
                    I agree with<br>
                        terms of the casino
            </div>
            <a class="sign-up-btn" href="#">Sign up now</a>
            <div class="social-block clearfix">
                <div class="social-auth">Or sign in with:</div>
                <ul class="social-list">
                    <li><a class="btn fb" href="#"></a>
                    <li><a class="btn tw" href="#"></a>
                    <li><a class="btn gmail" href="#"></a>
                </ul>
            </div>
            <div class="select-greeting-bonus free-spins">
                <div class="bonus-image"></div>
                <div class="get-now-btn-container">
                    <a class="get-now-btn" href="#">Get now</a>
                </div>
            </div>
            <div class="btn-block">
                <a class="games-btn" href="#">Other games</a>
                <a class="exit-btn" href="#">Exit</a>
            </div>

            <a class="gift-btn" href="#">Gift</a>
        </div>
    </div>
    <div class="center-column">
        <iframe>

        </iframe>
    </div>
    <div class="right-column">
        <div class="top-right-corner"></div>
        <div class="bottom-right-corner"></div>
        <div class="column-wrapper">
            <div class="btn-block">
                <a class="refresh-btn" href="#"><span>Refresh game</span></a>
                <a class="help-btn" href="#"><span>Help online</span></a>
            </div>
        </div>
        <ul class="game-list">
            <li class="game-item">
                <div class="hover-block">
                    <div class="btn-block play-btn-only">
                        <a href="#" class="play-btn">Play now</a>
                    </div>
                    <div class="hover-frame"></div>
                </div>
                <img class="game-img" src="../assets/images/games/dracula.jpg" alt="game">
                <div class="game-frame">
                    <div class="game-name">Dracula</div>
                    <ul class="rating">
                        <li><span class="active"></span>
                        <li><span class="active"></span>
                        <li><span class="active"></span>
                        <li>
                        <li>
                    </ul>
                </div>
            <li class="game-item">
                <div class="hover-block">
                    <div class="btn-block play-btn-only">
                        <a href="#" class="play-btn">Play now</a>
                    </div>
                    <div class="hover-frame"></div>
                </div>
                <img class="game-img" src="../assets/images/games/invisible-man.jpg" alt="game">
                <div class="game-frame">
                    <div class="game-name">The invisible man</div>
                    <ul class="rating">
                        <li><span class="active"></span>
                        <li><span class="active"></span>
                        <li><span class="active"></span>
                        <li>
                        <li>
                    </ul>
                </div>
            <li class="game-item">
                <div class="hover-block">
                    <div class="btn-block play-btn-only">
                        <a href="#" class="play-btn">Play now</a>
                    </div>
                    <div class="hover-frame"></div>
                </div>
                <img class="game-img" src="../assets/images/games/aliens.jpg" alt="game">
                <div class="game-frame">
                    <div class="game-name">Aliens</div>
                    <ul class="rating">
                        <li><span class="active"></span>
                        <li><span class="active"></span>
                        <li><span class="active"></span>
                        <li><span class="active"></span>
                        <li>
                    </ul>
                </div>
            <li class="game-item">
                <div class="hover-block">
                    <div class="btn-block play-btn-only">
                        <a href="#" class="play-btn">Play now</a>
                    </div>
                    <div class="hover-frame"></div>
                </div>
                <img class="game-img" src="../assets/images/games/twin-spin.jpg" alt="game">
                <div class="game-frame">
                    <div class="game-name">Twin spin</div>
                    <ul class="rating">
                        <li><span class="active"></span>
                        <li><span class="active"></span>
                        <li>
                        <li>
                        <li>
                    </ul>
                </div>
        </ul>
        <a class="exit-btn" href="#">Exit</a>
    </div>
</section>
<script src="../assets/javascripts/background_size_emu.js"></script>
<script src="../assets/javascripts/jquery.placeholder.min.js"></script>
<script src="../assets/javascripts/jquery.carouFredSel-6.2.1-packed.js"></script>
<script src="../assets/javascripts/owl.carousel.min.js"></script>
<script src="../assets/javascripts/main.js"></script>
<!--[if lte IE 8]>
<script src="../assets/javascripts/ie8.js"></script>
<!--<![endif]-->
</body>
</html>