<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Bonuses page</title>
    <link href="../assets/stylesheets/normalize.css" media="screen" rel="stylesheet" type="text/css">
    <link href="../assets/stylesheets/main.css" media="screen" rel="stylesheet" type="text/css">
    <link href="../assets/stylesheets/firefox.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/stylesheets/ie10.css" rel="stylesheet" type="text/css"/>
    <!--[if lte IE 9]>
    <link href="../assets/stylesheets/ie9.css" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <!--[if lte IE 8]>
    <link href="../assets/stylesheets/ie8.css" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <link href="../assets/stylesheets/jquery.bxslider.css" rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Jura:400,500,600,300&subset=latin,cyrillic-ext,latin-ext,cyrillic"
          rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Russo+One&amp;subset=latin,cyrillic,latin-ext" rel="stylesheet"
          type="text/css">
    <link href="../assets/stylesheets/owl.carousel.css" media="screen" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Russo+One&amp;subset=latin,cyrillic,latin-ext" rel="stylesheet"
          type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!--[if lte IE 8]>
    <script src="../assets/javascripts/respond.min.js"></script>
    <![endif]-->
    <script src="../assets/javascripts/html5shiv.min.js"></script>
    <script src="../assets/javascripts/html5shiv-printshiv.min.js"></script>
    <!--[if lte IE 8]>
    <script src="../assets/javascripts/selectivizr-min.js"></script>
    <![endif]-->
</head>
<body>
<div class="background-top"></div>
<div class="background-middle"></div>
<div class="background-bottom"></div>
<div class="garage-bottom"></div>
<div class="layout-center-wrapper pagination-wrapper">
    <a class="slider-ref-container" href="#"></a>
    <div class="pagination clearfix"></div>
</div>
<header>
    <div class="layout-center-wrapper">
        <div class="logo"><a href="#"></a></div>
        <div class="header-reg clearfix">
            <div class="user-info clearfix">
                <a href="#" class="status-box beginner">
                    <div class="icon"></div>
                    <div class="user-status">Beginner</div>
                </a>
                <a href="#" class="profile-name">
                    <div class="my-profile">My profile</div>
                    <div class="user-name">petyalutshuymulodsda</div>
                </a>
                <a href="#" class="balance-currency">
                    <div class="balance-head">Balance</div>
                    <div class="balance-value">Eur 100.00</div>
                </a>
                <a href="#" class="balance-drifts">
                    <div class="balance-head">Drifts</div>
                    <div class="balance-value">50</div>
                </a>
                <a href="#" class="bonus-quantity"><span class="bonus-ring-elements"></span>+2</a>
            </div><!--
        --><div class="right-block clearfix">
            <a href="#" class="exit-btn"><span>Exit</span></a>
            <div class="languages clearfix">
                <span class="selected-lang en"></span>
                <div class="arrow"></div>
            </div>
        </div>
        </div>
        <ul class="selected-lang-list">
            <li><a href="#" name="select-lang" data-lang="rus" class="rus"><i></i><span>Русский</span></a>
            <li><a href="#" name="select-lang" data-lang="es" class="es"><i></i><span>Espanol</span></a>
        </ul>
        <nav class="main-menu">
            <ul class="main-menu-list">
                <li><a href="#">Games</a>
                <li class="active"><a href="#">Cashier</a>
                <li><a href="#">Deposits and payouts</a>
                <li><a href="#">Promo</a>
                <li><a href="#">Tournaments</a>
            </ul>
        </nav>
        <aside class="jackpot-section">
            <div class="aside-header clearfix">
                <div class="icon-container"><div class="icon"></div></div>
                <div class="aside-head">Jackpot games_</div>
                <div class="aside-shape-left"></div>
                <div class="aside-shape-right"></div>
            </div>
            <div class="speedometer"></div>
            <div class="bg-jackpot"></div>
            <div class="jackpot-wrapper">
                <div class="counter-wrapper clearfix">
                    <div class="currency rub"></div><!--
                            --><div data-current-value="1234567890" data-difference="27" id="jackpot-counter"></div>
                </div>
            </div>
            <div class="clearfix">
                <a class="cashier-btn" href="#">Cashier</a>
                <a class="gift-btn" href="#">Gift</a>
            </div>
        </aside>
        <nav class="game-category">
            <ul class="game-category-list">
                <li class="popular"><a href="#"><i></i><span>Popular</span></a>
                <li class="new"><a href="#"><i></i><span>New</span></a>
                <li class="slots"><a href="#"><i></i><span>Slots</span></a>
                <li class="videopokers"><a href="#"><i></i><span>Videopokers</span></a>
                <li class="table"><a href="#"><i></i><span>Table games</span></a>
                <li class="others"><a href="#"><i></i><span>Others</span></a>
                <li class="favorites"><a href="#"><i></i><span>Favorites</span></a>
            </ul>
        </nav>
    </div>
</header>
<section class="content tourney">
    <div class="layout-center-wrapper clearfix">
        <ul class="game-list">
            <li class="game-item">
                <div class="hover-block">
                    <div class="btn-block">
                        <a href="#" class="play-btn">Play now</a>
                        <a href="#" class="practice-btn">Practice</a>
                    </div>
                    <div class="hover-line"></div>
                </div>
                <img class="game-img" src="../assets/images/games/dracula.jpg" alt="game">
                <div class="game-frame">
                    <div class="game-name">Dracula</div>
                    <ul class="rating">
                        <li><span class="active"></span>
                        <li><span class="active"></span>
                        <li><span class="active"></span>
                        <li>
                        <li>
                    </ul>
                </div>
            <li class="game-item">
                <div class="hover-block">
                    <div class="btn-block play-btn-only">
                        <a href="#" class="play-btn">Play now</a>
                    </div>
                    <div class="hover-line"></div>
                </div>
                <img class="game-img" src="../assets/images/games/invisible-man.jpg" alt="game">
                <div class="game-frame">
                    <div class="game-name">The invisible man</div>
                    <ul class="rating">
                        <li><span class="active"></span>
                        <li><span class="active"></span>
                        <li><span class="active"></span>
                        <li>
                        <li>
                    </ul>
                </div>
            <li class="game-item">
                <div class="hover-block">
                    <div class="btn-block">
                        <a href="#" class="play-btn">Play now</a>
                        <a href="#" class="practice-btn">Practice</a>
                    </div>
                    <div class="hover-line"></div>
                </div>
                <img class="game-img" src="../assets/images/games/aliens.jpg" alt="game">
                <div class="game-frame">
                    <div class="game-name">Aliens</div>
                    <ul class="rating">
                        <li><span class="active"></span>
                        <li><span class="active"></span>
                        <li><span class="active"></span>
                        <li><span class="active"></span>
                        <li>
                    </ul>
                </div>
            <li class="game-item">
                <div class="hover-block">
                    <div class="btn-block">
                        <a href="#" class="play-btn">Play now</a>
                        <a href="#" class="practice-btn">Practice</a>
                    </div>
                    <div class="hover-line"></div>
                </div>
                <img class="game-img" src="../assets/images/games/twin-spin.jpg" alt="game">
                <div class="game-frame">
                    <div class="game-name">Twin spin</div>
                    <ul class="rating">
                        <li><span class="active"></span>
                        <li><span class="active"></span>
                        <li>
                        <li>
                        <li>
                    </ul>
                </div>
            <li class="game-item">
                <div class="hover-block">
                    <div class="btn-block">
                        <a href="#" class="play-btn">Play now</a>
                        <a href="#" class="practice-btn">Practice</a>
                    </div>
                    <div class="hover-line"></div>
                </div>
                <img class="game-img" src="../assets/images/games/pacific-attack.jpg" alt="game">
                <div class="game-frame">
                    <div class="game-name">Pacific attack</div>
                    <ul class="rating">
                        <li><span class="active"></span>
                        <li><span class="active"></span>
                        <li><span class="active"></span>
                        <li><span class="active"></span>
                        <li><span class="active"></span>
                    </ul>
                </div>
            <li class="game-item">
                <div class="hover-block">
                    <div class="btn-block">
                        <a href="#" class="play-btn">Play now</a>
                        <a href="#" class="practice-btn">Practice</a>
                    </div>
                    <div class="hover-line"></div>
                </div>
                <img class="game-img" src="../assets/images/games/starburst-mini.jpg" alt="game">
                <div class="game-frame">
                    <div class="game-name">Starburst mini</div>
                    <ul class="rating">
                        <li><span class="active"></span>
                        <li><span class="active"></span>
                        <li><span class="active"></span>
                        <li><span class="active"></span>
                        <li><span class="active"></span>
                    </ul>
                </div>
            <li class="game-item">
                <div class="hover-block">
                    <div class="btn-block">
                        <a href="#" class="play-btn">Play now</a>
                        <a href="#" class="practice-btn">Practice</a>
                    </div>
                    <div class="hover-line"></div>
                </div>
                <img class="game-img" src="../assets/images/games/gonzo.jpg" alt="game">
                <div class="game-frame">
                    <div class="game-name">Gonzo's quest</div>
                    <ul class="rating">
                        <li><span class="active"></span>
                        <li><span class="active"></span>
                        <li><span class="active"></span>
                        <li>
                        <li>
                    </ul>
                </div>
            <li class="game-item">
                <div class="hover-block">
                    <div class="btn-block">
                        <a href="#" class="play-btn">Play now</a>
                        <a href="#" class="practice-btn">Practice</a>
                    </div>
                    <div class="hover-line"></div>
                </div>
                <img class="game-img" src="../assets/images/games/blood-suckers.jpg" alt="game">
                <div class="game-frame">
                    <div class="game-name">Blood Suckers</div>
                    <ul class="rating">
                        <li><span class="active"></span>
                        <li><span class="active"></span>
                        <li><span class="active"></span>
                        <li>
                        <li>
                    </ul>
                </div>
        </ul>
        <div class="content-section rules clearfix">
            <div class="left-content">
                <div class="content-header">Tourney rules</div>
                <div class="content-box">
                    <p>Weekly tournament is designed for long-race lovers. We offer special list of popular slot games in
                        our casino for the tournament! No matter which game you choose – you are (erase are) automatically join
                        the rush for THE progressive pool of the tournament! This is how it works: you have to pass a 50-round
                        qualification in one of games in the tournament or in several games in total until the end of the
                        tournament; 20 players with the best results, who have been qualified, will get prizes from the casino.
                        Tournament bracket will be displayed online on the right side during the game, as well as on this page
                        during and after the tournament is over. All prizes are awarded in franks upon the completion of the
                        tournament as soon as possible. The prize pool is accumulated based on the players’ bets at the rate of 90%
                        of a standard rate. The result is calculated on the basis of the winning amounts. Prizes are distributed
                        according to the bracket below.</p>
                </div>
            </div>
            <div class="right-content">
                <div class="characteristics">
                    <table class="characteristics-list">
                        <tr>
                            <td class="key"><div class="bg"></div><span>Prize fund</span></td>
                            <td class="value"><div class="bg"></div><span>100 Drifts</span></td>
                        </tr>
                        <tr class="blank"></tr>
                        <tr>
                            <td class="key"><div class="bg"></div><span>Prize fund</span></td>
                            <td class="value"><div class="bg"></div><span>100 Drifts</span></td>
                        </tr>
                        <tr class="blank"></tr>
                        <tr>
                            <td class="key"><div class="bg"></div><span>Prize fund</span></td>
                            <td class="value"><div class="bg"></div><span>100 Drifts</span></td>
                        </tr>
                        <tr class="blank"></tr>
                        <tr>
                            <td class="key"><div class="bg"></div><span>Prize fund</span></td>
                            <td class="value"><div class="bg"></div><span>100 Drifts</span></td>
                        </tr>
                        <tr class="blank"></tr>
                        <tr>
                            <td class="key"><div class="bg"></div><span>Prize fund</span></td>
                            <td class="value"><div class="bg"></div><span>100 Drifts</span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="content-section winners-and-prizes clearfix">
            <div class="left-content">
                <div class="content-header">Prizes</div>
                <ul class="prizes-table">
                    <li>
                        <div class="position">1</div>
                        <div class="prize">20 drifts</div>
                    <li>
                        <div class="position">2</div>
                        <div class="prize">18 drifts</div>
                        <div class="bg"></div>
                    <li>
                        <div class="position">3</div>
                        <div class="prize">15 drifts</div>
                    <li>
                        <div class="position">4</div>
                        <div class="prize">11 drifts</div>
                        <div class="bg"></div>
                    <li>
                        <div class="position">5</div>
                        <div class="prize">10 drifts</div>
                    <li>
                        <div class="position">6</div>
                        <div class="prize">7 drifts</div>
                        <div class="bg"></div>
                    <li>
                        <div class="position">7</div>
                        <div class="prize">6 drifts</div>
                    <li>
                        <div class="position">8</div>
                        <div class="prize">5 drifts</div>
                        <div class="bg"></div>
                    <li>
                        <div class="position">3</div>
                        <div class="prize">3 drifts</div>
                    <li>
                        <div class="position">10</div>
                        <div class="prize">2 drifts</div>
                        <div class="bg"></div>
                </ul>
            </div>
            <div class="right-content">
                <div class="content-header">Now wins</div>
                <div class="leaders-tables">
                    <div class="bg"></div>
                    <div class="clearfix">
                        <table class="best-players-table left">
                            <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    login
                                </th>
                                <th>
                                    score
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    алексей
                                </td>
                                <td>
                                    105
                                </td>
                            </tr>
                            <tr class="blank"></tr>
                            <tr>
                                <td>
                                    2
                                </td>
                                <td>
                                    константин
                                </td>
                                <td>
                                    102
                                </td>
                            </tr>
                            <tr class="blank"></tr>
                            <tr>
                                <td>
                                    3
                                </td>
                                <td>
                                    005828
                                </td>
                                <td>
                                    86
                                </td>
                            </tr>
                            <tr class="blank"></tr>
                            <tr>
                                <td>
                                    4
                                </td>
                                <td>
                                    soldier
                                </td>
                                <td>
                                    73
                                </td>
                            </tr>
                            <tr class="blank"></tr>
                            <tr>
                                <td>
                                    5
                                </td>
                                <td>
                                    tanechka.klenova
                                </td>
                                <td>
                                    54
                                </td>
                            </tr>
                            <tr class="blank"></tr>
                            <tr>
                                <td>
                                    6
                                </td>
                                <td>
                                    0028708
                                </td>
                                <td>
                                    40
                                </td>
                            </tr>
                            <tr class="blank"></tr>
                            <tr>
                                <td>
                                    7
                                </td>
                                <td>
                                    Aram Azizyan
                                </td>
                                <td>
                                    36
                                </td>
                            </tr>
                            <tr class="blank"></tr>
                            <tr>
                                <td>
                                    8
                                </td>
                                <td>
                                    0021047
                                </td>
                                <td>
                                    34
                                </td>
                            </tr>
                            <tr class="blank"></tr>
                            <tr>
                                <td>
                                    9
                                </td>
                                <td>
                                    Мария
                                </td>
                                <td>
                                    29
                                </td>
                            </tr>
                            <tr class="blank"></tr>
                            <tr>
                                <td>
                                    10
                                </td>
                                <td>
                                    Джон Брич
                                </td>
                                <td>
                                    21
                                </td>
                            </tr>
                            <tr class="blank"></tr>
                            <tr>
                                <td>
                                    11
                                </td>
                                <td>
                                    Aram Azizyan
                                </td>
                                <td>
                                    21
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="best-players-table right">
                            <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    login
                                </th>
                                <th>
                                    score
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    12
                                </td>
                                <td>
                                    алексей
                                </td>
                                <td>
                                    105
                                </td>
                            </tr>
                            <tr class="blank"></tr>
                            <tr>
                                <td>
                                    13
                                </td>
                                <td>
                                    константин
                                </td>
                                <td>
                                    102
                                </td>
                            </tr>
                            <tr class="blank"></tr>
                            <tr>
                                <td>
                                    14
                                </td>
                                <td>
                                    005828
                                </td>
                                <td>
                                    86
                                </td>
                            </tr>
                            <tr class="blank"></tr>
                            <tr>
                                <td>
                                    15
                                </td>
                                <td>
                                    soldier
                                </td>
                                <td>
                                    73
                                </td>
                            </tr>
                            <tr class="blank"></tr>
                            <tr>
                                <td>
                                    16
                                </td>
                                <td>
                                    tanechka.klenova
                                </td>
                                <td>
                                    54
                                </td>
                            </tr>
                            <tr class="blank"></tr>
                            <tr>
                                <td>
                                    17
                                </td>
                                <td>
                                    0028708
                                </td>
                                <td>
                                    40
                                </td>
                            </tr>
                            <tr class="blank"></tr>
                            <tr>
                                <td>
                                    18
                                </td>
                                <td>
                                    Aram Azizyan
                                </td>
                                <td>
                                    36
                                </td>
                            </tr>
                            <tr class="blank"></tr>
                            <tr>
                                <td>
                                    19
                                </td>
                                <td>
                                    0021047
                                </td>
                                <td>
                                    34
                                </td>
                            </tr>
                            <tr class="blank"></tr>
                            <tr>
                                <td>
                                    20
                                </td>
                                <td>
                                    Мария
                                </td>
                                <td>
                                    29
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <a class="join-btn" href="#">
                        Join</a>
                </div>
            </div>
        </div>
        <div class="content-section clearfix">
            <div class="left-content">
                <div class="tourney-stands">
                    <div class="prize-stand"></div>
                    <div class="winner-block">
                        <div class="win-info first-place">
                            <div class="balance-value"><span class="rub">P</span> 100,000</div>
                            <div class="login">login <span>0028166</span></div>
                            <div class="result">result <span>362</span></div>
                        </div>
                        <div class="win-info second-place">
                            <div class="balance-value">&#8364; 70,000</div>
                            <div class="login">login <span>002632</span></div>
                            <div class="result">result <span>198</span></div>
                        </div>
                        <div class="win-info third-place">
                            <div class="balance-value">&#8364; 50,000</div>
                            <div class="login">login <span>0023931</span></div>
                            <div class="result">result <span>121</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-content past-tourney">
                <div class="content-header">Results of the past tourney</div>
                <table class="result-table">
                    <thead>
                    <tr>
                        <th>position</th>
                        <th>login</th>
                        <th>result</th>
                        <th>prize</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>4</td>
                        <td>0025309</td>
                        <td>79</td>
                        <td>800 drifts</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Джон Брич</td>
                        <td>76</td>
                        <td>700 drifts</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>0024923</td>
                        <td>75</td>
                        <td>600 drifts</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>0026824</td>
                        <td>72</td>
                        <td>550 drifts</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>004993</td>
                        <td>65</td>
                        <td>310 drifts</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>0027916</td>
                        <td>60</td>
                        <td>200 drifts</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>vavan.shurs</td>
                        <td>57</td>
                        <td>150 drifts</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="layout-center-wrapper">
        <div class="sign-up-block">
            <a class="sign-up-btn" href="#">Sign up now!</a>
        </div>
        <div class="casino-description">
            <a class="blue-arrow" href="#"></a>
            <div class="blue-header">Trend setting online casino games for entertainment</div>
            <div class="text-container">
                <div class="blue-text">
                    The online casino has been tagged an avenue for fun and entertainment. Not to mention the wide range
                    of game available to select from. The popularity and the fact that
                    there are a lot of establishment offering online casino possibilities to gamers made rise to the
                    presence of bonus games, rounds and the likes. Depending of which of the
                    casino games you like taking part in, there are sure games of varying categories
                    and game play requirements to suite you all.
                </div>
            </div>
            <div class="blue-line"></div>
        </div>
    </div>
</section>
<footer>
    <div class="layout-center-wrapper">
        <ul class="footer-menu clearfix">
            <li><a href="#">Terms and Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Responsible Gaming</a></li>
            <li><a href="#">Antifraud Tool</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
        <section class="logotypes-section">
            <div class="inline-container">
                <ul class="payment-list clearfix">
                    <li class="visa"></li>
                    <li class="mastercard"></li>
                    <li class="qiwi"></li>
                    <li class="alpha"></li>
                    <li class="yandex"></li>
                    <li class="sberbank"></li>
                    <li class="webmoney"></li>
                    <li class="skrill"></li>
                    <li class="psb"></li>
                    <li class="neteller"></li>
                </ul>
            </div>
            <div class="inline-container">
                <ul class="payment-list second clearfix">
                    <li class="moneta"></li>
                    <li class="interkassa"></li>
                    <li class="liqpay"></li>
                    <li class="w1"></li>
                    <li class="sms"></li>
                    <li class="wire-transfer"></li>
                    <li class="paysafe"></li>
                </ul>
            </div>
            <div class="inline-container">
                <ul class="footer-logotypes clearfix">
                    <li class="netent"><a href="#"></a></li>
                    <li class="logo-crown"><a href="#"></a></li>
                    <li class="adulthood"></li>
                </ul>
            </div>
        </section>
    </div>
</footer>
<div class="slider">
    <div class="item">
        <div class="slider-img-container">
            <img class="slider-img" src="../assets/images/slider-car.png" alt="">
        </div>
        <div class="layout-center-wrapper">
            <div class="slider-ref clearfix">
                <span class="text-block-one">
                    <span class="get">Get</span>
                    <span class="bonus-name"><span>10</span> free spins</span>
                    <span class="game-name">Gonzo's Quest</span>
                </span>
                <span class="text-block-two">
                    <span class="play">Play with <span>40</span> &#8364;</span>
                    <span class="deposit">When you deposit</span>
                    <span class="sum"><span>10</span> &#8364;</span>
                </span>
                <span class="text-block-three">Let's play</span>
                <span class="text-block-four">
                    <span class="bonus">Bonus</span>
                    <span class="sum"><span>300</span> %</span>
                </span>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="slider-img-container">
            <img class="slider-img" src="../assets/images/slider-car.png" alt="">
        </div>
        <div class="layout-center-wrapper">
            <div class="slider-ref clearfix">
                <span class="text-block-one">
                    <span class="get">Get</span>
                    <span class="bonus-name"><span>500</span> free points</span>
                    <span class="game-name">Twin Spin</span>
                </span>
                <span class="text-block-two">
                    <span class="play">Play with <span>3000</span> <span class="rub">Р</span></span>
                    <span class="deposit">When you deposit</span>
                    <span class="sum"><span>1000</span> <span class="rub">Р</span></span>
                </span>
                <span class="text-block-three">Let's play</span>
                <span class="text-block-four">
                    <span class="bonus">Bonus</span>
                    <span class="sum"><span>100</span> %</span>
                </span>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="slider-img-container">
            <img class="slider-img" src="../assets/images/slider-car.png" alt="">
        </div>
        <div class="layout-center-wrapper">
            <div class="slider-ref clearfix">
                <span class="text-block-one">
                    <span class="get">Get</span>
                    <span class="bonus-name"><span>60</span> extra coins</span>
                    <span class="game-name">Wish master</span>
                </span>
                <span class="text-block-two">
                    <span class="play">Play with <span>40</span> &#8364;</span>
                    <span class="deposit">When you deposit</span>
                    <span class="sum"><span>10</span> &#8364;</span>
                </span>
                <span class="text-block-three">Let's play</span>
                <span class="text-block-four">
                    <span class="bonus">Bonus</span>
                    <span class="sum"><span>400</span> %</span>
                </span>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="slider-img-container">
            <img class="slider-img" src="../assets/images/slider-car.png" alt="">
        </div>
        <div class="layout-center-wrapper">
            <div class="slider-ref clearfix">
                <span class="text-block-one">
                    <span class="get">Get</span>
                    <span class="bonus-name"><span>40</span> free spins</span>
                    <span class="game-name">Aliens</span>
                </span>
                <span class="text-block-two">
                    <span class="play">Play with <span>70</span> &#8364;</span>
                    <span class="deposit">When you deposit</span>
                    <span class="sum"><span>10</span> &#8364;</span>
                </span>
                <span class="text-block-three">Let's play</span>
                <span class="text-block-four">
                    <span class="bonus">Bonus</span>
                    <span class="sum"><span>300</span> %</span>
                </span>
            </div>
        </div>
    </div>
</div>
<script src="../assets/javascripts/background_size_emu.js"></script>
<script src="../assets/javascripts/jquery.carouFredSel-6.2.1-packed.js"></script>
<script src="../assets/javascripts/owl.carousel.min.js"></script>
<script src="../assets/javascripts/jquery.bxslider.min.js"></script>
<script src="../assets/javascripts/main.js"></script>
<!--[if gte IE 9]><!-->
<script src="../assets/javascripts/owl.js"></script>
<!--<![endif]-->
<!--[if lte IE 8]>
<script src="../assets/javascripts/ie8.js"></script>
<!--<![endif]-->
<script src="../assets/javascripts/jquery.flip-counter.js"></script>
<script src="../assets/javascripts/jquery.lwt-countdown-1.0.js"></script>
<script src="../assets/javascripts/hashtable.js"></script>
<script src="../assets/javascripts/jquery.numberformatter-1.2.4.js"></script>
<script src="../assets/javascripts/jackpot-main.js"></script>

</body>
</html>