<!DOCTYPE html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>Главная - не зарегистрирован</title>
<link href="../assets/stylesheets/normalize.css" media="screen" rel="stylesheet" type="text/css">
<link href="../assets/stylesheets/main.css" media="screen" rel="stylesheet" type="text/css">
<link href="../assets/stylesheets/owl.carousel.css" media="screen" rel="stylesheet" type="text/css">
<link href="../assets/stylesheets/firefox.css" media="screen" rel="stylesheet" type="text/css">
    <link href="../assets/stylesheets/ie10.css" rel="stylesheet" type="text/css"/>
    <!--[if lte IE 9]>
    <link href="../assets/stylesheets/ie9.css" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <!--[if lte IE 8]>
    <link href="../assets/stylesheets/ie8.css" rel="stylesheet" type="text/css"/>
    <![endif]-->
<link href="http://fonts.googleapis.com/css?family=Jura:400,500,600,300&subset=latin,cyrillic-ext,latin-ext,cyrillic"
      rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Russo+One&amp;subset=latin,cyrillic,latin-ext" rel="stylesheet"
          type="text/css">
<link href="http://fonts.googleapis.com/css?family=Russo+One&amp;subset=latin,cyrillic,latin-ext" rel="stylesheet"
      type="text/css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!--[if lte IE 8]>
<script src="../assets/javascripts/respond.min.js"></script>
<![endif]-->
<script src="../assets/javascripts/html5shiv.min.js"></script>
<script src="../assets/javascripts/html5shiv-printshiv.min.js"></script>
<!--[if lte IE 8]>
<script src="../assets/javascripts/selectivizr-min.js"></script>
<![endif]-->
</head>
<body>
<div class="background-top"></div>
<div class="background-middle"></div>
<div class="background-bottom"></div>
<div class="garage-bottom"></div>
<div class="layout-center-wrapper pagination-wrapper">
    <a class="slider-ref-container" href="#"></a> 
    <div class="pagination clearfix"></div>
</div>
<header>
    <div class="layout-center-wrapper">
    <div class="logo"><a href="#"></a></div>
    <div class="sign-in-container">
        <div class="social-block clearfix">
            <div class="social-auth">Sign in via:</div>
            <ul class="social-list">
                <li><a class="btn fb" href="#"></a>
                <li><a class="btn tw" href="#"></a>
                <li><a class="btn gmail" href="#"></a>
            </ul>
        </div><!--
        --><div class="registration-block clearfix">
            <a href="#" class="reg-btn"><span>Registration</span></a>
            <a href="#" class="sign-in-btn"><span>Sign in</span></a>
            <div class="languages clearfix">
                <span class="selected-lang en"></span>
                <div class="arrow"></div>
            </div>
        </div>
    </div>
        <ul class="selected-lang-list">
            <li><a href="#" name="select-lang" data-lang="rus" class="rus"><i></i><span>Русский</span></a>
            <li><a href="#" name="select-lang" data-lang="es" class="es"><i></i><span>Espanol</span></a>
        </ul>
    <nav class="main-menu">
        <ul class="main-menu-list">
            <li><a href="#">Games</a>
            <li class="active"><a href="#">Cashier</a>
            <li><a href="#">Deposits and payouts</a>
            <li><a href="#">Promo</a>
            <li><a href="#">Tournaments</a>
        </ul>
    </nav>
    <aside class="jackpot-section">
        <div class="aside-header clearfix">
                <div class="icon-container"><div class="icon"></div></div>
                <div class="aside-head">Jackpot games_</div>
            <div class="aside-shape-left"></div>
            <div class="aside-shape-right"></div>
        </div>
        <div class="speedometer"></div>
        <div class="bg-jackpot"></div>
        <div class="jackpot-wrapper">
        <div class="counter-wrapper clearfix">
            <div class="currency rub"></div><!--
                            --><div data-current-value="1234567890" data-difference="27" id="jackpot-counter"></div>
        </div>
        </div>
        <div class="clearfix">
            <a class="cashier-btn" href="#">Cashier</a>
            <a class="gift-btn" href="#">Gift</a>
        </div>
    </aside>
    <nav class="game-category">
        <ul class="game-category-list">
            <li class="popular"><a href="#"><i></i><span>Popular</span></a>
            <li class="new"><a href="#"><i></i><span>New</span></a>
            <li class="slots"><a href="#"><i></i><span>Slots</span></a>
            <li class="videopokers"><a href="#"><i></i><span>Videopokers</span></a>
            <li class="table"><a href="#"><i></i><span>Table games</span></a>
            <li class="others"><a href="#"><i></i><span>Others</span></a>
            <li class="favorites"><a href="#"><i></i><span>Favorites</span></a>
        </ul>
    </nav>
    </div>
</header>
<section class="content">
<div class="layout-center-wrapper clearfix">
<section class="left-content">
    <ul class="game-list">
        <li class="game-item">
            <div class="hover-block">
                <div class="btn-block">
                    <a href="#" class="play-btn">Play now</a>
                    <a href="#" class="practice-btn">Practice</a>
                </div>
                <div class="hover-line"></div>
            </div>
            <img class="game-img" src="../assets/images/games/dracula.jpg" alt="game">
            <div class="game-frame">
                <div class="game-name">Dracula</div>
                <ul class="rating">
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li>
                    <li>
                </ul>
            </div>
        <li class="game-item">
            <div class="hover-block">
                <div class="btn-block play-btn-only">
                    <a href="#" class="play-btn">Play now</a>
                </div>
                <div class="hover-line"></div>
            </div>
            <img class="game-img" src="../assets/images/games/invisible-man.jpg" alt="game">
            <div class="game-frame">
                <div class="game-name">The invisible man</div>
                <ul class="rating">
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li>
                    <li>
                </ul>
            </div>
        <li class="game-item">
            <div class="hover-block">
                <div class="btn-block">
                    <a href="#" class="play-btn">Play now</a>
                    <a href="#" class="practice-btn">Practice</a>
                </div>
                <div class="hover-line"></div>
            </div>
            <img class="game-img" src="../assets/images/games/aliens.jpg" alt="game">
            <div class="game-frame">
                <div class="game-name">Aliens</div>
                <ul class="rating">
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li>
                </ul>
            </div>
        <li class="game-item">
            <div class="hover-block">
                <div class="btn-block">
                    <a href="#" class="play-btn">Play now</a>
                    <a href="#" class="practice-btn">Practice</a>
                </div>
                <div class="hover-line"></div>
            </div>
            <img class="game-img" src="../assets/images/games/twin-spin.jpg" alt="game">
            <div class="game-frame">
                <div class="game-name">Twin spin</div>
                <ul class="rating">
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li>
                    <li>
                    <li>
                </ul>
            </div>
        <li class="game-item">
            <div class="hover-block">
                <div class="btn-block">
                    <a href="#" class="play-btn">Play now</a>
                    <a href="#" class="practice-btn">Practice</a>
                </div>
                <div class="hover-line"></div>
            </div>
            <img class="game-img" src="../assets/images/games/pacific-attack.jpg" alt="game">
            <div class="game-frame">
                <div class="game-name">Pacific attack</div>
                <ul class="rating">
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                </ul>
            </div>
        <li class="game-item">
            <div class="hover-block">
                <div class="btn-block">
                    <a href="#" class="play-btn">Play now</a>
                    <a href="#" class="practice-btn">Practice</a>
                </div>
                <div class="hover-line"></div>
            </div>
            <img class="game-img" src="../assets/images/games/starburst-mini.jpg" alt="game">
            <div class="game-frame">
                <div class="game-name">Starburst mini</div>
                <ul class="rating">
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                </ul>
            </div>
        <li class="game-item">
            <div class="hover-block">
                <div class="btn-block">
                    <a href="#" class="play-btn">Play now</a>
                    <a href="#" class="practice-btn">Practice</a>
                </div>
                <div class="hover-line"></div>
            </div>
            <img class="game-img" src="../assets/images/games/gonzo.jpg" alt="game">
            <div class="game-frame">
                <div class="game-name">Gonzo's quest</div>
                <ul class="rating">
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li>
                    <li>
                </ul>
            </div>
        <li class="game-item">
            <div class="hover-block">
                <div class="btn-block">
                    <a href="#" class="play-btn">Play now</a>
                    <a href="#" class="practice-btn">Practice</a>
                </div>
                <div class="hover-line"></div>
            </div>
            <img class="game-img" src="../assets/images/games/blood-suckers.jpg" alt="game">
            <div class="game-frame">
                <div class="game-name">Blood Suckers</div>
                <ul class="rating">
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li>
                    <li>
                </ul>
            </div>
    </ul>
    <section class="promo-block">
        <div class="section-header clearfix">
            <div class="shape-left"></div>
            <div class="shape-right"></div>
            <div class="shape-center"></div>
            <div class="icon-container"><div class="icon"></div></div>
            <div class="section-head">Drift promo_</div>
        </div>
        <div class="owl-carousel">
            <div class="promo-item lottery">
                <div class="promo-frame"></div>
                <div class="promo-light"></div>
                <div class="promo-header">
                    <div class="promo-head">
                        lottery
                    </div>
                    <div class="promo-block-description">
                        Take part in a regular weekly deposit lottery from Drift Casino and win extra prizes
                    </div>
                </div>
                <div class="promo-image"></div>
                <a class="start-btn" href="#">Start</a>
                <div class="promo-footer">

                </div>
            </div>
            <div class="promo-item cashback">
                <div class="promo-frame"></div>
                <div class="promo-light"></div>
                <div class="promo-header">
                    <div class="promo-head">
                        cashback
                    </div>
                    <div class="promo-block-description">
                        Take a second chance to win at Drift Casino. Return a part of spent funds to start new awesome games
                    </div>
                </div>
                <ul class="promo-list">
                    <li class="clearfix">
                        <div class="user-name">dobriy</div>
                        <div class="sum"><span class="rub">P</span> 1405</div>
                    </li>
                    <li class="clearfix">
                        <div class="user-name">amiron1980</div>
                        <div class="sum"> &#8364; 753</div>
                    </li>
                    <li class="clearfix">
                        <div class="user-name">alesha78</div>
                        <div class="sum">$ 180</div>
                    </li>
                </ul>
                <div class="promo-image"></div>
                <a class="start-btn" href="#">Start</a>
                <div class="promo-footer">
                </div>
            </div>
            <div class="promo-item comp-points">
                <div class="promo-frame"></div>
                <div class="promo-light"></div>
                <div class="promo-header">
                    <div class="promo-head">
                        comp-points
                    </div>
                    <div class="promo-block-description">
                        Casino-x rewards its loyal and regular players by giving them a possibility to get extra comp points
                    </div>
                </div>
                <div class="promo-image"></div>
                <a class="start-btn" href="#">Start</a>
                <div class="promo-footer">

                </div>
            </div>
        </div>
    </section>
    <ul class="game-list">
        <li class="game-item">
            <div class="hover-block">
                <div class="btn-block">
                    <a href="#" class="play-btn">Play now</a>
                    <a href="#" class="practice-btn">Practice</a>
                </div>
                <div class="hover-line"></div>
            </div>
            <img class="game-img" src="../assets/images/games/south-park.jpg" alt="game">
            <div class="game-frame">
                <div class="game-name">South Park Reel Chaos</div>
                <ul class="rating">
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li>
                    <li>
                </ul>
            </div>
        <li class="game-item">
            <div class="hover-block">
                <div class="btn-block">
                    <a href="#" class="play-btn">Play now</a>
                    <a href="#" class="practice-btn">Practice</a>
                </div>
                <div class="hover-line"></div>
            </div>
            <img class="game-img" src="../assets/images/games/jack-hammer.jpg" alt="game">
            <div class="game-frame">
                <div class="game-name">Jack Hammer</div>
                <ul class="rating">
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li>
                    <li>
                </ul>
            </div>
        <li class="game-item">
            <div class="hover-block">
                <div class="btn-block">
                    <a href="#" class="play-btn">Play now</a>
                    <a href="#" class="practice-btn">Practice</a>
                </div>
                <div class="hover-line"></div>
            </div>
            <img class="game-img" src="../assets/images/games/wish-master.jpg" alt="game">
            <div class="game-frame">
                <div class="game-name">Wish master</div>
                <ul class="rating">
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li>
                    <li>
                </ul>
            </div>
        <li class="game-item">
            <div class="hover-block">
                <div class="btn-block">
                    <a href="#" class="play-btn">Play now</a>
                    <a href="#" class="practice-btn">Practice</a>
                </div>
                <div class="hover-line"></div>
            </div>
            <img class="game-img" src="../assets/images/games/mega-fortune.jpg" alt="game">
            <div class="game-frame">
                <div class="game-name">Mega fortune</div>
                <ul class="rating">
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li>
                    <li>
                </ul>
            </div>
        <li class="game-item">
            <div class="hover-block">
                <div class="btn-block">
                    <a href="#" class="play-btn">Play now</a>
                    <a href="#" class="practice-btn">Practice</a>
                </div>
                <div class="hover-line"></div>
            </div>
            <img class="game-img" src="../assets/images/games/space-wars.jpg" alt="game">
            <div class="game-frame">
                <div class="game-name">Space wars</div>
                <ul class="rating">
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li>
                    <li>
                </ul>
            </div>
        <li class="game-item">
            <div class="hover-block">
                <div class="btn-block">
                    <a href="#" class="play-btn">Play now</a>
                    <a href="#" class="practice-btn">Practice</a>
                </div>
                <div class="hover-line"></div>
            </div>
            <img class="game-img" src="../assets/images/games/creature.jpg" alt="game">
            <div class="game-frame">
                <div class="game-name">Creature from the black lagoon</div>
                <ul class="rating">
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li>
                    <li>
                </ul>
            </div>
        <li class="game-item">
            <div class="hover-block">
                <div class="btn-block">
                    <a href="#" class="play-btn">Play now</a>
                    <a href="#" class="practice-btn">Practice</a>
                </div>
                <div class="hover-line"></div>
            </div>
            <img class="game-img" src="../assets/images/games/eggomatic.jpg" alt="game">
            <div class="game-frame">
                <div class="game-name">Eggomatic</div>
                <ul class="rating">
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li>
                    <li>
                </ul>
            </div>
        <li class="game-item">
            <div class="hover-block">
                <div class="btn-block">
                    <a href="#" class="play-btn">Play now</a>
                    <a href="#" class="practice-btn">Practice</a>
                </div>
                <div class="hover-line"></div>
            </div>
            <img class="game-img" src="../assets/images/games/egyptian-heroes.jpg" alt="game">
            <div class="game-frame">
                <div class="game-name">Egyptian heroes</div>
                <ul class="rating">
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li>
                    <li>
                </ul>
            </div>
    </ul>
    <section class="banner-block">
        <div class="banner-left-container">
            <a href="#"><img class="banner-game-img" src="../assets/images/games/eggomatic.jpg" alt="game"></a>
        </div>
        <div class="banner-description-block">
            <div class="banner-game-line clearfix">
                <div class="banner-game-name">Eggomatic</div>
                <a class="play-btn" href="#">Play now</a>
            </div>
            <div class="banner-game-description">
                Meet EggOMatic! Have some eggciting time while cracking the eggs,
                delivered by specially built conveyor. It doesn't matter anymore what came first, the Chicken
                or the Egg. What's much more important is what egg will come first?
            </div>
        </div>
        <div class="banner-right-image"></div>
    </section>
    <ul class="game-list">
        <li class="game-item">
            <div class="hover-block">
                <div class="btn-block">
                    <a href="#" class="play-btn">Play now</a>
                    <a href="#" class="practice-btn">Practice</a>
                </div>
                <div class="hover-line"></div>
            </div>
            <img class="game-img" src="../assets/images/games/trolls.jpg" alt="game">
            <div class="game-frame">
                <div class="game-name">Trolls</div>
                <ul class="rating">
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li>
                    <li>
                </ul>
            </div>
        <li class="game-item">
            <div class="hover-block">
                <div class="btn-block">
                    <a href="#" class="play-btn">Play now</a>
                    <a href="#" class="practice-btn">Practice</a>
                </div>
                <div class="hover-line"></div>
            </div>
            <img class="game-img" src="../assets/images/games/wish-master.jpg" alt="game">
            <div class="game-frame">
                <div class="game-name">Wish master</div>
                <ul class="rating">
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li>
                    <li>
                </ul>
            </div>
        <li class="game-item">
            <div class="hover-block">
                <div class="btn-block">
                    <a href="#" class="play-btn">Play now</a>
                    <a href="#" class="practice-btn">Practice</a>
                </div>
                <div class="hover-line"></div>
            </div>
            <img class="game-img" src="../assets/images/games/thief.jpg" alt="game">
            <div class="game-frame">
                <div class="game-name">Thief</div>
                <ul class="rating">
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li>
                    <li>
                </ul>
            </div>
        <li class="game-item">
            <div class="hover-block">
                <div class="btn-block">
                    <a href="#" class="play-btn">Play now</a>
                    <a href="#" class="practice-btn">Practice</a>
                </div>
                <div class="hover-line"></div>
            </div>
            <img class="game-img" src="../assets/images/games/relic-raiders.jpg" alt="game">
            <div class="game-frame">
                <div class="game-name">Relic raiders</div>
                <ul class="rating">
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li>
                    <li>
                </ul>
            </div>
        <li class="game-item">
            <div class="hover-block">
                <div class="btn-block">
                    <a href="#" class="play-btn">Play now</a>
                    <a href="#" class="practice-btn">Practice</a>
                </div>
                <div class="hover-line"></div>
            </div>
            <img class="game-img" src="../assets/images/games/lights.jpg" alt="game">
            <div class="game-frame">
                <div class="game-name">Lights</div>
                <ul class="rating">
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li>
                    <li>
                </ul>
            </div>
        <li class="game-item">
            <div class="hover-block">
                <div class="btn-block">
                    <a href="#" class="play-btn">Play now</a>
                    <a href="#" class="practice-btn">Practice</a>
                </div>
                <div class="hover-line"></div>
            </div>
            <img class="game-img" src="../assets/images/games/blood-suckers.jpg" alt="game">
            <div class="game-frame">
                <div class="game-name">Lost island</div>
                <ul class="rating">
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li>
                    <li>
                </ul>
            </div>
        <li class="game-item">
            <div class="hover-block">
                <div class="btn-block">
                    <a href="#" class="play-btn">Play now</a>
                    <a href="#" class="practice-btn">Practice</a>
                </div>
                <div class="hover-line"></div>
            </div>
            <img class="game-img" src="../assets/images/games/gonzo.jpg" alt="game">
            <div class="game-frame">
                <div class="game-name">Icy wonders</div>
                <ul class="rating">
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li>
                    <li>
                </ul>
            </div>
        <li class="game-item">
            <div class="hover-block">
                <div class="btn-block">
                    <a href="#" class="play-btn">Play now</a>
                    <a href="#" class="practice-btn">Practice</a>
                </div>
                <div class="hover-line"></div>
            </div>
            <img class="game-img" src="../assets/images/games/mega-fortune.jpg" alt="game">
            <div class="game-frame">
                <div class="game-name">Elements</div>
                <ul class="rating">
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li><span class="active"></span>
                    <li>
                    <li>
                </ul>
            </div>
    </ul>
</section>
<aside class="right-content">
<section class="aside-block winners">
    <div class="top-right-corner"></div>
    <div class="bottom-left-corner"></div>
    <div class="bottom-right-corner"></div>
    <div class="aside-header clearfix">
        <div class="icon-container"><div class="icon"></div></div>
        <div class="aside-head">Winners_</div>
        <div class="aside-shape-center"></div>
        <div class="aside-shape-left"></div>
        <div class="aside-shape-right"></div>
    </div>
    <ul class="winners-list">
        <li class="clearfix">
            <div class="game-border"></div>
            <div class="img-container">
                <img class="game-img" src="../assets/images/games/dracula.jpg" alt="game">
                <div class="hover-block">
                    <a href="#" class="play-btn">Play</a>
                </div>
            </div>
            <div class="information">
                <div class="user-name">dobriy</div>
                <div class="game-name">Dracula</div>
            </div>
            <div class="ring-with-sum">
                <div class="ring-elements"></div>
                <div class="sum"><span class="rub">Р</span> 1405</div>
            </div>
        </li>
        <li class="clearfix">
            <div class="game-border"></div>
            <div class="img-container">
                <img class="game-img" src="../assets/images/games/blood-suckers.jpg" alt="game">
                <div class="hover-block">
                    <a href="#" class="play-btn">Play</a>
                </div>
            </div>
            <div class="information">
                <div class="user-name">amiron1980</div>
                <div class="game-name">Blood suckers</div>
            </div>
            <div class="ring-with-sum">
                <div class="ring-elements"></div>
                <div class="sum"> &#8364; 753</div>
            </div>
        </li>
        <li class="clearfix">
            <div class="game-border"></div>
            <div class="img-container">
                <img class="game-img" src="../assets/images/games/creature.jpg" alt="game">
                <div class="hover-block">
                    <a href="#" class="play-btn">Play</a>
                </div>
            </div>
            <div class="information">
                <div class="user-name">aleasha78</div>
                <div class="game-name">Creature from the black lagoon</div>
            </div>
            <div class="ring-with-sum">
                <div class="ring-elements"></div>
                <div class="sum"> &#8364; 753</div>
            </div>
        </li>
    </ul>
</section>
    <section class="aside-block tournaments">
        <div class="top-right-corner"></div>
        <div class="bottom-left-corner"></div>
        <div class="bottom-right-corner"></div>
        <div class="aside-header clearfix">
            <div class="icon-container"><div class="icon"></div></div>
            <div class="aside-head">Tournaments_</div>
            <div class="aside-shape-center"></div>
            <div class="aside-shape-left"></div>
            <div class="aside-shape-right"></div>
        </div>
        <a href="#"><img class="banner-img" src="../assets/images/tournament-banner.jpg" alt="game"></a>
        <div class="counter-section">
            <div class="counter clearfix">
                <div class="count days"><span class="data-days">17</span>
                <div class="time-description">days</div>
                </div>
                <div class="count hours"><span class="data-hours">13</span>
                    <div class="time-description">hours</div>
                </div>
                <div class="count min"><span class="data-min">25</span>
                    <div class="time-description">min</div>
                </div>
                <div class="count sec"><span class="data-sec">50</span>
                    <div class="time-description">sec</div>
                </div>
            </div>
            <div class="small-jackpot">
                <div class="counter-wrapper clearfix">
                    <div class="currency rub"></div><!--
                                --><div data-current-value="1234567890" data-difference="27" id="small-jackpot-counter"></div>
                </div>
                <div class="jackpot-decription">Progressive prize fund</div>
            </div>
        </div>
        <ul class="leaders-table-name">
           <li class="clearfix">
               <div class="name">Name</div>
               <div class="score">Score</div>
           </li>
            <li class="clearfix">
                <div class="name">Name</div>
                <div class="score">Score</div>
            </li>
        </ul>
        <div class="leaders">
            <ul class="leaders-table">
                <li class="clearfix">
                    <div class="bg"></div>
                    <div class="name"><span class="rank">1</span>. raiseonce</div>
                    <div class="score">35354</div>
                </li>

                <li class="clearfix">
                    <div class="bg"></div>
                    <div class="name"><span class="rank">2</span>. skv_055</div>
                    <div class="score">35300</div>
                </li>


                <li class="clearfix">
                    <div class="bg"></div>
                    <div class="name"><span class="rank">3</span>. senna1993</div>
                    <div class="score">25000</div>
                </li>
                <li class="clearfix">
                    <div class="bg"></div>
                    <div class="name"><span class="rank">4</span>. sakis68</div>
                    <div class="score">24600</div>
                </li>

                <li class="clearfix">
                    <div class="bg"></div>
                    <div class="name"><span class="rank">5</span>. nemosea18</div>
                    <div class="score">1000</div>
                </li>
                <li class="clearfix">
                    <div class="bg"></div>
                    <div class="name"><span class="rank">112</span>. You</div>
                    <div class="score">0</div>
                </li>
            </ul>
        </div>
        <div class="btn-container">
            <a class="join-btn" href="#">Join</a>
        </div>
    </section>
    <section class="aside-block game-month">
        <div class="top-right-corner"></div>
        <div class="bottom-left-corner"></div>
        <div class="bottom-right-corner"></div>
        <div class="aside-header clearfix">
            <div class="icon-container"><div class="icon"></div></div>
            <div class="aside-head">Game of the month_</div>
            <div class="aside-shape-center"></div>
            <div class="aside-shape-left"></div>
            <div class="aside-shape-right"></div>
        </div>
        <a href="#"><img class="game-img" src="../assets/images/games/thief.jpg" alt="game"></a>
        <div class="game-description clearfix">
            <div class="game-name">Thief</div>
            <a class="play-btn" href="#">Play</a>
        </div>
    </section>
</aside>

</div>
    <div class="layout-center-wrapper">
<div class="sign-up-block">
    <a class="sign-up-btn" href="#">Sign up now!</a>
</div>
<div class="casino-description">
        <a class="blue-arrow" href="#"></a>
        <div class="blue-header">Trend setting online casino games for entertainment</div>
    <div class="text-container">
        <div class="blue-text">
            The online casino has been tagged an avenue for fun and entertainment. Not to mention the wide range
            of game available to select from. The popularity and the fact that
            there are a lot of establishment offering online casino possibilities to gamers made rise to the
            presence of bonus games, rounds and the likes. Depending of which of the 
            casino games you like taking part in, there are sure games of varying categories
            and game play requirements to suite you all.
        </div>
        </div>
        <div class="blue-line"></div>
</div>
    </div>
</section>
<footer>
    <div class="layout-center-wrapper">
<ul class="footer-menu clearfix">
    <li><a href="#">Terms and Conditions</a></li>
    <li><a href="#">Privacy Policy</a></li>
    <li><a href="#">Responsible Gaming</a></li>
    <li><a href="#">Antifraud Tool</a></li>
    <li><a href="#">Contact Us</a></li>
</ul>
<section class="logotypes-section">
    <div class="inline-container">
    <ul class="payment-list clearfix">
        <li class="visa"></li>
        <li class="mastercard"></li>
        <li class="qiwi"></li>
        <li class="alpha"></li>
        <li class="yandex"></li>
        <li class="sberbank"></li>
        <li class="webmoney"></li>
        <li class="skrill"></li>
        <li class="psb"></li>
        <li class="neteller"></li>
    </ul>
    </div>
    <div class="inline-container">
    <ul class="payment-list second clearfix">
        <li class="moneta"></li>
        <li class="interkassa"></li>
        <li class="liqpay"></li>
        <li class="w1"></li>
        <li class="sms"></li>
        <li class="wire-transfer"></li>
        <li class="paysafe"></li>
    </ul>
    </div>
    <div class="inline-container">
        <ul class="footer-logotypes clearfix">
            <li class="netent"><a href="#"></a></li>
            <li class="logo-crown"><a href="#"></a></li>
            <li class="adulthood"></li>
        </ul>
    </div>
</section>
    </div>
</footer>
<div class="slider">
    <div class="item">
        <div class="slider-img-container">
            <img class="slider-img" src="../assets/images/slider-car.png" alt="">
        </div>
        <div class="layout-center-wrapper">
            <div class="slider-ref clearfix">
                <span class="text-block-one">
                    <span class="get">Get</span>
                    <span class="bonus-name"><span>10</span> free spins</span>
                    <span class="game-name">Gonzo's Quest</span>
                </span>
                <span class="text-block-two">
                    <span class="play">Play with <span>40</span> &#8364;</span>
                    <span class="deposit">When you deposit</span>
                    <span class="sum"><span>10</span> &#8364;</span>
                </span>
                <span class="text-block-three">Let's play</span>
                <span class="text-block-four">
                    <span class="bonus">Bonus</span>
                    <span class="sum"><span>300</span> %</span>
                </span>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="slider-img-container">
            <img class="slider-img" src="../assets/images/slider-car.png" alt="">
        </div>
        <div class="layout-center-wrapper">
            <div class="slider-ref clearfix">
                <span class="text-block-one">
                    <span class="get">Get</span>
                    <span class="bonus-name"><span>500</span> free points</span>
                    <span class="game-name">Twin Spin</span>
                </span>
                <span class="text-block-two">
                    <span class="play">Play with <span>3000</span> <span class="rub">Р</span></span>
                    <span class="deposit">When you deposit</span>
                    <span class="sum"><span>1000</span> <span class="rub">Р</span></span>
                </span>
                <span class="text-block-three">Let's play</span>
                <span class="text-block-four">
                    <span class="bonus">Bonus</span>
                    <span class="sum"><span>100</span> %</span>
                </span>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="slider-img-container">
            <img class="slider-img" src="../assets/images/slider-car.png" alt="">
        </div>
        <div class="layout-center-wrapper">
            <div class="slider-ref clearfix">
                <span class="text-block-one">
                    <span class="get">Get</span>
                    <span class="bonus-name"><span>60</span> extra coins</span>
                    <span class="game-name">Wish master</span>
                </span>
                <span class="text-block-two">
                    <span class="play">Play with <span>40</span> &#8364;</span>
                    <span class="deposit">When you deposit</span>
                    <span class="sum"><span>10</span> &#8364;</span>
                </span>
                <span class="text-block-three">Let's play</span>
                <span class="text-block-four">
                    <span class="bonus">Bonus</span>
                    <span class="sum"><span>400</span> %</span>
                </span>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="slider-img-container">
            <img class="slider-img" src="../assets/images/slider-car.png" alt="">
        </div>
        <div class="layout-center-wrapper">
            <div class="slider-ref clearfix">
                <span class="text-block-one">
                    <span class="get">Get</span>
                    <span class="bonus-name"><span>40</span> free spins</span>
                    <span class="game-name">Aliens</span>
                </span>
                <span class="text-block-two">
                    <span class="play">Play with <span>70</span> &#8364;</span>
                    <span class="deposit">When you deposit</span>
                    <span class="sum"><span>10</span> &#8364;</span>
                </span>
                <span class="text-block-three">Let's play</span>
                <span class="text-block-four">
                    <span class="bonus">Bonus</span>
                    <span class="sum"><span>300</span> %</span>
                </span>
            </div>
        </div>
    </div>
</div>
<script src="../assets/javascripts/background_size_emu.js"></script>
<script src="../assets/javascripts/jquery.carouFredSel-6.2.1-packed.js"></script>
<script src="../assets/javascripts/owl.carousel.min.js"></script>
<script src="../assets/javascripts/main.js"></script>
<!--[if gte IE 9]><!-->
<script src="../assets/javascripts/owl.js"></script>
<!--<![endif]-->
<!--[if lte IE 8]>
<script src="../assets/javascripts/ie8.js"></script>
<!--<![endif]-->
<script src="../assets/javascripts/jquery.flip-counter.js"></script>
<script src="../assets/javascripts/jquery.lwt-countdown-1.0.js"></script>
<script src="../assets/javascripts/hashtable.js"></script>
<script src="../assets/javascripts/jquery.numberformatter-1.2.4.js"></script>
<script src="../assets/javascripts/jackpot-main.js"></script>

</body>
</html>