<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Платежные системы</title>
    <link href="../assets/stylesheets/normalize.css" media="screen" rel="stylesheet" type="text/css">
    <link href="../assets/stylesheets/main.css" media="screen" rel="stylesheet" type="text/css">
    <link href="../assets/stylesheets/firefox.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/stylesheets/ie10.css" rel="stylesheet" type="text/css"/>
    <!--[if lte IE 9]>
    <link href="../assets/stylesheets/ie9.css" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <!--[if lte IE 8]>
    <link href="../assets/stylesheets/ie8.css" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <link href="http://fonts.googleapis.com/css?family=Jura:400,500,600,300&subset=latin,cyrillic-ext,latin-ext,cyrillic"
          rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Russo+One&amp;subset=latin,cyrillic,latin-ext" rel="stylesheet"
          type="text/css">
    <link href="../assets/stylesheets/owl.carousel.css" media="screen" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Russo+One&amp;subset=latin,cyrillic,latin-ext" rel="stylesheet"
          type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!--[if lte IE 8]>
    <script src="../assets/javascripts/respond.min.js"></script>
    <![endif]-->
    <script src="../assets/javascripts/html5shiv.min.js"></script>
    <script src="../assets/javascripts/html5shiv-printshiv.min.js"></script>
    <!--[if lte IE 8]>
    <script src="../assets/javascripts/selectivizr-min.js"></script>
    <![endif]-->
</head>
<body>
<div class="background-top"></div>
<div class="background-middle"></div>
<div class="background-bottom"></div>
<div class="garage-bottom"></div>
<div class="layout-center-wrapper pagination-wrapper">
    <a class="slider-ref-container" href="#"></a>
    <div class="pagination clearfix"></div>
</div>
<header>
    <div class="layout-center-wrapper">
        <div class="logo"><a href="#"></a></div>
        <div class="header-reg clearfix">
            <div class="user-info clearfix">
                <a href="#" class="status-box beginner">
                    <div class="icon"></div>
                    <div class="user-status">Beginner</div>
                </a>
                <a href="#" class="profile-name">
                    <div class="my-profile">My profile</div>
                    <div class="user-name">petyalutshuymulodsda</div>
                </a>
                <a href="#" class="balance-currency">
                    <div class="balance-head">Balance</div>
                    <div class="balance-value">Eur 100.00</div>
                </a>
                <a href="#" class="balance-drifts">
                    <div class="balance-head">Drifts</div>
                    <div class="balance-value">50</div>
                </a>
                <a href="#" class="bonus-quantity"><span class="bonus-ring-elements"></span>+2</a>
            </div><!--
        --><div class="right-block clearfix">
            <a href="#" class="exit-btn"><span>Exit</span></a>
            <div class="languages clearfix">
                <span class="selected-lang en"></span>
                <div class="arrow"></div>
            </div>
        </div>
        </div>
        <ul class="selected-lang-list">
            <li><a href="#" name="select-lang" data-lang="rus" class="rus"><i></i><span>Русский</span></a>
            <li><a href="#" name="select-lang" data-lang="es" class="es"><i></i><span>Espanol</span></a>
        </ul>
        <nav class="main-menu">
            <ul class="main-menu-list">
                <li><a href="#">Games</a>
                <li class="active"><a href="#">Cashier</a>
                <li><a href="#">Deposits and payouts</a>
                <li><a href="#">Promo</a>
                <li><a href="#">Tournaments</a>
            </ul>
        </nav>
        <aside class="jackpot-section">
            <div class="aside-header clearfix">
                <div class="icon-container"><div class="icon"></div></div>
                <div class="aside-head">Jackpot games_</div>
                <div class="aside-shape-left"></div>
                <div class="aside-shape-right"></div>
            </div>
            <div class="speedometer"></div>
            <div class="bg-jackpot"></div>
            <div class="jackpot-wrapper">
                <div class="counter-wrapper clearfix">
                    <div class="currency rub"></div><!--
                            --><div data-current-value="1234567890" data-difference="27" id="jackpot-counter"></div>
                </div>
            </div>
            <div class="clearfix">
                <a class="cashier-btn" href="#">Cashier</a>
                <a class="gift-btn" href="#">Gift</a>
            </div>
        </aside>
        <nav class="game-category">
            <ul class="game-category-list">
                <li class="popular"><a href="#"><i></i><span>Popular</span></a>
                <li class="new"><a href="#"><i></i><span>New</span></a>
                <li class="slots"><a href="#"><i></i><span>Slots</span></a>
                <li class="videopokers"><a href="#"><i></i><span>Videopokers</span></a>
                <li class="table"><a href="#"><i></i><span>Table games</span></a>
                <li class="others"><a href="#"><i></i><span>Others</span></a>
                <li class="favorites"><a href="#"><i></i><span>Favorites</span></a>
            </ul>
        </nav>
    </div>
</header>
<section class="content">
    <div class="layout-center-wrapper clearfix">
        <div class="page-description">
            Here you can read the instructions and payments casinos to choose the most suitable for you.<br>
            The best game in the world will be available in just a few weeks.
        </div>
       <ul class="payment-systems">
           <li class="payment paysafe">
               <a href="#paysafe" class="background-logo"></a>
           <li class="payment visa">
               <a href="#visa" class="background-logo"></a>
           <li class="payment skrill">
               <a href="#skrill" class="background-logo"></a>
           <li class="payment wire-transfer">
               <a href="#wire-transfer" class="background-logo"></a>
           <li class="payment neteller">
               <a href="#neteller" class="background-logo"></a>
           <li class="payment ukash">
               <a href="#ukash" class="background-logo"></a>
       </ul>
        <section class="payment-info" id="paysafe">
            <div class="content-box header">
                <div class="content-header">Paysafecard payment system</div>
            </div>
            <div class="content-container">
                <p>Paysafecard – это надежная и простая электронная платежная система, популярная в Европе и множестве других регионов по всему миру.
                    Данной системой можно пользоваться для покупок в онлайн играх, интернет магазинах, для оплаты услуг в соц. сетях и т.п.
                    Пользоваться paysafecard так же просто и безопасно, как и наличными. Не нужно указывать информацию о своих банковских счетах или кредитных картах,
                    просто приобретите paysafecard в ближайшей точке продажи и введите 16-значный код для проведения платежа.
                    Для того чтобы узнать больше об использовании paysafecard, пожалуйста пройдите по ссылке
                    https://www.paysafecard.com/en-gb/products/my-paysafecard/</p>
                <h3>Для активации необходимо:</h3>
                    <ul>
                        <li>RUB - min RUB 150 , max RUB 80 000</li>
                        <li>USD - min USD 5, max USD 2500</li>
                        <li>EUR - min EUR 5, max EUR 2000</li>
                        <li>NOK - min NOK 50, max NOK 25 000</li>
                        <li>SEK - min SEK 50, max SEK 25 000</li>
                    </ul>
            </div>
            <div class="content-box register">
                <div class="content-header">You may register here:</div><a class="register-btn" href="#">Register account</a>
            </div>
        </section>
        <section class="payment-info" id="visa">
            <div class="content-box header">
                <div class="content-header">Visa payment system</div>
            </div>
            <div class="content-container">
                <p>Paysafecard – это надежная и простая электронная платежная система, популярная в Европе и множестве других регионов по всему миру.
                    Данной системой можно пользоваться для покупок в онлайн играх, интернет магазинах, для оплаты услуг в соц. сетях и т.п.
                    Пользоваться paysafecard так же просто и безопасно, как и наличными. Не нужно указывать информацию о своих банковских счетах или кредитных картах,
                    просто приобретите paysafecard в ближайшей точке продажи и введите 16-значный код для проведения платежа.
                    Для того чтобы узнать больше об использовании paysafecard, пожалуйста пройдите по ссылке
                    https://www.paysafecard.com/en-gb/products/my-paysafecard/</p>
                <h3>Для активации необходимо:</h3>
                <ul>
                    <li>RUB - min RUB 150 , max RUB 80 000</li>
                    <li>USD - min USD 5, max USD 2500</li>
                    <li>EUR - min EUR 5, max EUR 2000</li>
                    <li>NOK - min NOK 50, max NOK 25 000</li>
                    <li>SEK - min SEK 50, max SEK 25 000</li>
                </ul>
            </div>
            <div class="content-box register">
                <div class="content-header">You may register here:</div><a class="register-btn" href="#">Register account</a>
            </div>
        </section>
        <section class="payment-info" id="skrill">
            <div class="content-box header">
                <div class="content-header">skrill payment system</div>
            </div>
            <div class="content-container">
                <p>Paysafecard – это надежная и простая электронная платежная система, популярная в Европе и множестве других регионов по всему миру.
                    Данной системой можно пользоваться для покупок в онлайн играх, интернет магазинах, для оплаты услуг в соц. сетях и т.п.
                    Пользоваться paysafecard так же просто и безопасно, как и наличными. Не нужно указывать информацию о своих банковских счетах или кредитных картах,
                    просто приобретите paysafecard в ближайшей точке продажи и введите 16-значный код для проведения платежа.
                    Для того чтобы узнать больше об использовании paysafecard, пожалуйста пройдите по ссылке
                    https://www.paysafecard.com/en-gb/products/my-paysafecard/</p>
                <h3>Для активации необходимо:</h3>
                <ul>
                    <li>RUB - min RUB 150 , max RUB 80 000</li>
                    <li>USD - min USD 5, max USD 2500</li>
                    <li>EUR - min EUR 5, max EUR 2000</li>
                    <li>NOK - min NOK 50, max NOK 25 000</li>
                    <li>SEK - min SEK 50, max SEK 25 000</li>
                </ul>
            </div>
            <div class="content-box register">
                <div class="content-header">You may register here:</div><a class="register-btn" href="#">Register account</a>
            </div>
        </section>
        <section class="payment-info" id="wire-transfer">
            <div class="content-box header">
                <div class="content-header">wire-transfer payment system</div>
            </div>
            <div class="content-container">
                <p>Paysafecard – это надежная и простая электронная платежная система, популярная в Европе и множестве других регионов по всему миру.
                    Данной системой можно пользоваться для покупок в онлайн играх, интернет магазинах, для оплаты услуг в соц. сетях и т.п.
                    Пользоваться paysafecard так же просто и безопасно, как и наличными. Не нужно указывать информацию о своих банковских счетах или кредитных картах,
                    просто приобретите paysafecard в ближайшей точке продажи и введите 16-значный код для проведения платежа.
                    Для того чтобы узнать больше об использовании paysafecard, пожалуйста пройдите по ссылке
                    https://www.paysafecard.com/en-gb/products/my-paysafecard/</p>
                <h3>Для активации необходимо:</h3>
                <ul>
                    <li>RUB - min RUB 150 , max RUB 80 000</li>
                    <li>USD - min USD 5, max USD 2500</li>
                    <li>EUR - min EUR 5, max EUR 2000</li>
                    <li>NOK - min NOK 50, max NOK 25 000</li>
                    <li>SEK - min SEK 50, max SEK 25 000</li>
                </ul>
            </div>
            <div class="content-box register">
                <div class="content-header">You may register here:</div><a class="register-btn" href="#">Register account</a>
            </div>
        </section>
        <section class="payment-info" id="neteller">
            <div class="content-box header">
                <div class="content-header">neteller payment system</div>
            </div>
            <div class="content-container">
                <p>Paysafecard – это надежная и простая электронная платежная система, популярная в Европе и множестве других регионов по всему миру.
                    Данной системой можно пользоваться для покупок в онлайн играх, интернет магазинах, для оплаты услуг в соц. сетях и т.п.
                    Пользоваться paysafecard так же просто и безопасно, как и наличными. Не нужно указывать информацию о своих банковских счетах или кредитных картах,
                    просто приобретите paysafecard в ближайшей точке продажи и введите 16-значный код для проведения платежа.
                    Для того чтобы узнать больше об использовании paysafecard, пожалуйста пройдите по ссылке
                    https://www.paysafecard.com/en-gb/products/my-paysafecard/</p>
                <h3>Для активации необходимо:</h3>
                <ul>
                    <li>RUB - min RUB 150 , max RUB 80 000</li>
                    <li>USD - min USD 5, max USD 2500</li>
                    <li>EUR - min EUR 5, max EUR 2000</li>
                    <li>NOK - min NOK 50, max NOK 25 000</li>
                    <li>SEK - min SEK 50, max SEK 25 000</li>
                </ul>
            </div>
            <div class="content-box register">
                <div class="content-header">You may register here:</div><a class="register-btn" href="#">Register account</a>
            </div>
        </section>
        <section class="payment-info" id="ukash">
            <div class="content-box header">
                <div class="content-header">ukash payment system</div>
            </div>
            <div class="content-container">
                <p>Paysafecard – это надежная и простая электронная платежная система, популярная в Европе и множестве других регионов по всему миру.
                    Данной системой можно пользоваться для покупок в онлайн играх, интернет магазинах, для оплаты услуг в соц. сетях и т.п.
                    Пользоваться paysafecard так же просто и безопасно, как и наличными. Не нужно указывать информацию о своих банковских счетах или кредитных картах,
                    просто приобретите paysafecard в ближайшей точке продажи и введите 16-значный код для проведения платежа.
                    Для того чтобы узнать больше об использовании paysafecard, пожалуйста пройдите по ссылке
                    https://www.paysafecard.com/en-gb/products/my-paysafecard/</p>
                <h3>Для активации необходимо:</h3>
                <ul>
                    <li>RUB - min RUB 150 , max RUB 80 000</li>
                    <li>USD - min USD 5, max USD 2500</li>
                    <li>EUR - min EUR 5, max EUR 2000</li>
                    <li>NOK - min NOK 50, max NOK 25 000</li>
                    <li>SEK - min SEK 50, max SEK 25 000</li>
                </ul>
            </div>
            <div class="content-box register">
                <div class="content-header">You may register here:</div><a class="register-btn" href="#">Register account</a>
            </div>
        </section>
    </div>
    <div class="layout-center-wrapper">
        <div class="sign-up-block">
            <a class="sign-up-btn" href="#">Sign up now!</a>
        </div>
        <div class="casino-description">
            <a class="blue-arrow" href="#"></a>
            <div class="blue-header">Trend setting online casino games for entertainment</div>
            <div class="text-container">
                <div class="blue-text">
                    The online casino has been tagged an avenue for fun and entertainment. Not to mention the wide range
                    of game available to select from. The popularity and the fact that
                    there are a lot of establishment offering online casino possibilities to gamers made rise to the
                    presence of bonus games, rounds and the likes. Depending of which of the
                    casino games you like taking part in, there are sure games of varying categories
                    and game play requirements to suite you all.
                </div>
            </div>
            <div class="blue-line"></div>
        </div>
    </div>
</section>
<footer>
    <div class="layout-center-wrapper">
        <ul class="footer-menu clearfix">
            <li><a href="#">Terms and Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Responsible Gaming</a></li>
            <li><a href="#">Antifraud Tool</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
        <section class="logotypes-section">
            <div class="inline-container">
                <ul class="payment-list clearfix">
                    <li class="visa"></li>
                    <li class="mastercard"></li>
                    <li class="qiwi"></li>
                    <li class="alpha"></li>
                    <li class="yandex"></li>
                    <li class="sberbank"></li>
                    <li class="webmoney"></li>
                    <li class="skrill"></li>
                    <li class="psb"></li>
                    <li class="neteller"></li>
                </ul>
            </div>
            <div class="inline-container">
                <ul class="payment-list second clearfix">
                    <li class="moneta"></li>
                    <li class="interkassa"></li>
                    <li class="liqpay"></li>
                    <li class="w1"></li>
                    <li class="sms"></li>
                    <li class="wire-transfer"></li>
                    <li class="paysafe"></li>
                </ul>
            </div>
            <div class="inline-container">
                <ul class="footer-logotypes clearfix">
                    <li class="netent"><a href="#"></a></li>
                    <li class="logo-crown"><a href="#"></a></li>
                    <li class="adulthood"></li>
                </ul>
            </div>
        </section>
    </div>
</footer>
<div class="slider">
    <div class="item">
        <div class="slider-img-container">
            <img class="slider-img" src="../assets/images/slider-car.png" alt="">
        </div>
        <div class="layout-center-wrapper">
            <div class="slider-ref clearfix">
                <span class="text-block-one">
                    <span class="get">Get</span>
                    <span class="bonus-name"><span>10</span> free spins</span>
                    <span class="game-name">Gonzo's Quest</span>
                </span>
                <span class="text-block-two">
                    <span class="play">Play with <span>40</span> &#8364;</span>
                    <span class="deposit">When you deposit</span>
                    <span class="sum"><span>10</span> &#8364;</span>
                </span>
                <span class="text-block-three">Let's play</span>
                <span class="text-block-four">
                    <span class="bonus">Bonus</span>
                    <span class="sum"><span>300</span> %</span>
                </span>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="slider-img-container">
            <img class="slider-img" src="../assets/images/slider-car.png" alt="">
        </div>
        <div class="layout-center-wrapper">
            <div class="slider-ref clearfix">
                <span class="text-block-one">
                    <span class="get">Get</span>
                    <span class="bonus-name"><span>500</span> free points</span>
                    <span class="game-name">Twin Spin</span>
                </span>
                <span class="text-block-two">
                    <span class="play">Play with <span>3000</span> <span class="rub">Р</span></span>
                    <span class="deposit">When you deposit</span>
                    <span class="sum"><span>1000</span> <span class="rub">Р</span></span>
                </span>
                <span class="text-block-three">Let's play</span>
                <span class="text-block-four">
                    <span class="bonus">Bonus</span>
                    <span class="sum"><span>100</span> %</span>
                </span>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="slider-img-container">
            <img class="slider-img" src="../assets/images/slider-car.png" alt="">
        </div>
        <div class="layout-center-wrapper">
            <div class="slider-ref clearfix">
                <span class="text-block-one">
                    <span class="get">Get</span>
                    <span class="bonus-name"><span>60</span> extra coins</span>
                    <span class="game-name">Wish master</span>
                </span>
                <span class="text-block-two">
                    <span class="play">Play with <span>40</span> &#8364;</span>
                    <span class="deposit">When you deposit</span>
                    <span class="sum"><span>10</span> &#8364;</span>
                </span>
                <span class="text-block-three">Let's play</span>
                <span class="text-block-four">
                    <span class="bonus">Bonus</span>
                    <span class="sum"><span>400</span> %</span>
                </span>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="slider-img-container">
            <img class="slider-img" src="../assets/images/slider-car.png" alt="">
        </div>
        <div class="layout-center-wrapper">
            <div class="slider-ref clearfix">
                <span class="text-block-one">
                    <span class="get">Get</span>
                    <span class="bonus-name"><span>40</span> free spins</span>
                    <span class="game-name">Aliens</span>
                </span>
                <span class="text-block-two">
                    <span class="play">Play with <span>70</span> &#8364;</span>
                    <span class="deposit">When you deposit</span>
                    <span class="sum"><span>10</span> &#8364;</span>
                </span>
                <span class="text-block-three">Let's play</span>
                <span class="text-block-four">
                    <span class="bonus">Bonus</span>
                    <span class="sum"><span>300</span> %</span>
                </span>
            </div>
        </div>
    </div>
</div>
<script src="../assets/javascripts/background_size_emu.js"></script>
<script src="../assets/javascripts/jquery.carouFredSel-6.2.1-packed.js"></script>
<script src="../assets/javascripts/owl.carousel.min.js"></script>
<script src="../assets/javascripts/main.js"></script>
<!--[if gte IE 9]><!-->
<script src="../assets/javascripts/owl.js"></script>
<!--<![endif]-->
<!--[if lte IE 8]>
<script src="../assets/javascripts/ie8.js"></script>
<!--<![endif]-->
<script src="../assets/javascripts/jquery.flip-counter.js"></script>
<script src="../assets/javascripts/jquery.lwt-countdown-1.0.js"></script>
<script src="../assets/javascripts/hashtable.js"></script>
<script src="../assets/javascripts/jquery.numberformatter-1.2.4.js"></script>
<script src="../assets/javascripts/jackpot-main.js"></script>

</body>
</html>