$best-players-table-first-cell-w: 50px;
$best-players-table-second-cell-w: 160px;
$best-players-table-third-cell-w: 90px;
$best-players-table-cell-h: 20px;
$best-players-table-w: 309px;
$best-players-table-blank-cell-h: 3px;
$best-players-table-thead-h: 29px;

.leaders-tables {
  width: 100%;
  min-height: 100px;
  @include border-box();
  position: relative;
  padding: 0 20px 12px 20px;
  .clearfix {
    width: 100%;
  }
  .bg {
    @extend %full-size-pseudo;
    background: rgba($light-green, .75);
    @include linear-gradient(to top, rgb(0, 21, 8) 0%, rgba(0, 0, 0, 0.5) 50%,
            rgba(0, 254, 72, 0.7) 100%);
    opacity: .75;
  }
  &:before {
    @extend %full-size-pseudo;
    background: url(../images/diagonal-35.png) repeat 0 0;
    z-index: 2;
    @include box-shadow(inset 0 0 15px 5px rgba(0, 217, 123, 0.75));
  }
  &:hover {
    &:before {
      border: 1px solid $blue;
    }
  }
  .best-players-table {
    position: relative;
    z-index: 3;
    width: $best-players-table-w;
    &.left {
      float: left;
    }
    &.right {
      float: right;
    }
    color: $blue;
    font: {
      weight: 300;
      size: 12px;
    }
    thead {
      text-transform: uppercase;
      tr {
        background: none;
      }
      th {
        height: $best-players-table-thead-h;
        line-height: $best-players-table-thead-h;
        font: {
          weight: 600;
          size: 14px;
        }
        text-transform: uppercase;
        &:first-child {
          width: $best-players-table-first-cell-w;
          text-align: left;
          padding-left: 14px;
        }
        &:nth-child(2) {
          width: $best-players-table-second-cell-w;
          text-align: left;
        }
        &:nth-child(3) {
          text-align: center;
          width: $best-players-table-third-cell-w;
        }
      }
    }
    tr {
      &.blank {
        height: $best-players-table-blank-cell-h;
        background: none;
      }
        background: rgba(#000, .38);
    }
    td {
      @include border-box();
      height: $best-players-table-cell-h;
      line-height: $best-players-table-cell-h + 1;
      &:first-child {
        width: $best-players-table-first-cell-w;
        text-align: left;
        padding-left: 14px;
      }
      &:nth-child(2) {
        width: $best-players-table-second-cell-w;
        text-align: left;
      }
      &:nth-child(3) {
        text-align: center;
        width: $best-players-table-third-cell-w;
      }
    }
  }
  .join-btn {
    position: absolute;
    bottom: 12px;
    right: 20px;
    @extend %orange-btn;
    z-index: 3;
  }
}